<form [formGroup]="managerForm" class="form" (ngSubmit)="onManager()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" />
        <mat-error *ngIf="managerForm.controls.firstName.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" />
        <mat-error *ngIf="managerForm.controls.lastName.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="managerForm.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <h1>Permissions</h1>
    <div class="roles-area">
      <ng-container *ngFor="let role of roles">
        <div class="header">
          {{ role.name }}
          <div class="check-all">
            <mat-checkbox
              class="ch-box"
              (change)="addAllPermission($event.checked, role.childs)"
              >All</mat-checkbox
            >
          </div>
        </div>
        <ng-container *ngFor="let r of role.childs">
          <div class="row">
            <span class="title">
              {{ r.name }}
            </span>
            <div class="wrapper">
              <ng-container *ngFor="let role of r.roles">
                <div>
                  <mat-checkbox
                    class="ch-box"
                    [checked]="checkIfExist(role.value)"
                    (change)="
                      addCreatePermission($event.checked, role.name, r.roles)
                    "
                    >{{ role.name }}</mat-checkbox
                  >
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
