@import 'mixin';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-height: 80vh;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    min-height: 5rem;
  }
}
.controls {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 7rem);
  overflow-y: auto;
  padding: 0 1rem;
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    darken(#efefef, 20%),
    0.5rem
  );
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 0 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.roles-area {
  display: flex;
  flex-direction: column;
  .header {
    font-size: 1.8rem;
    font-weight: bold;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: var($--table-border);
    .check-all {
      margin-left: auto;
      width: 7rem;
      .ch-box {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
    max-height: 6rem;
    border-bottom: var($--table-border);
    padding-left: 2rem;
    &:first-child {
      border-top: var($--table-border);
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      font-weight: 600;
      font-size: 1.3rem;
    }
    .wrapper {
      display: flex;
      align-items: center;
      div {
        margin-left: 1rem;
        width: 7rem;
        .ch-box {
          font-weight: 600;
          font-size: 1.2rem;
        }
      }
    }
  }
}
