<div class="filters">
  <a class="create" [routerLink]="['/home/deliveries/create-delivery']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Delivery</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text" autocomplete="off" />
    <!-- (input)="search($event.target.value)" -->
  </mat-form-field>
</div>
<ng-container *ngIf="deliveries && deliveries.length">
  <div class="container">
    <div class="header">
      <div class="caption">Delivery Fee</div>
      <div class="caption">Delivery Time</div>
      <div class="caption">Min</div>
      <div class="caption">Max</div>
      <div class="delete"></div>
      <div class="edit"></div>
      <div class="expand"></div>
    </div>
    <div class="body">
      <ng-container *ngFor="let delivery of deliveries">
        <div class="row">
          <div class="context">{{ delivery.deliveryFee | truncate: 45 }}</div>
          <div class="context">
            {{ delivery.deliveryTime | date: 'mediumTime' }}
          </div>
          <div class="context">{{ delivery.min | truncate: 45 }}</div>
          <div class="context">{{ delivery.max | truncate: 45 }}</div>
          <div class="delete">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onRemove(delivery)"
            >
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
          <div class="edit">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onEdit(delivery)"
            >
              <mat-icon svgIcon="edit"></mat-icon>
            </button>
          </div>
          <div class="expand">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onExpand(delivery)"
            >
              <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="deliveriesFacade.deliveriesTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
