<div class="filters">
  <a
    class="create"
    [routerLink]="['/home/company/create-merchant']"
    *ngIf="merchants && merchants.length === 0"
  >
    <mat-icon svgIcon="add"></mat-icon><span>Add New Company</span>
  </a>
  <mat-form-field class="search">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      (input)="search($event.target.value)"
      autocomplete="off"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="merchants && merchants.length">
  <div class="container">
    <div class="header">
      <div class="caption">Company Name</div>
      <div class="caption">Postcode</div>
      <div class="caption">Phone Number</div>
      <div class="caption">Created At</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let merchant of merchants">
        <div class="row">
          <div class="context">{{ merchant.companyName | truncate: 45 }}</div>
          <div class="context">{{ merchant.zipCode | truncate: 45 }}</div>
          <div class="context">{{ merchant.phone | truncate: 45 }}</div>
          <div class="context">{{ merchant.createdAt | date: 'medium' }}</div>
          <div class="actions">
            <!-- <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(merchant)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div> -->
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(merchant)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="merchantsFacade.merchantsTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
