<div class="filters">
  <a class="create" [routerLink]="['/home/allergies/create-allergy']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Allergy</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="allergies && allergies.length">
  <div class="container">
    <div class="header">
      <div class="caption">Title</div>
      <div class="caption">Description</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let allergy of allergies">
        <div class="row">
          <div class="context">{{ allergy.title | truncate: 45 }}</div>
          <div class="context">{{ allergy.description | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(allergy)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(allergy)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="allergiesFacade.allergiesTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
