<h1>Add New Pickup</h1>
<form
  [formGroup]="pickupForm"
  class="form"
  (ngSubmit)="onPickup()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Store</mat-label>
      <mat-select formControlName="shop">
        <mat-option
          *ngFor="let shop of shopsFacade.shops$ | async"
          [value]="'api/shops/' + shop.id"
        >
          {{ shop.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="pickupForm.controls.shop.hasError('required')">
        Store is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Waiting Time (Minutes)</mat-label>
      <input matInput formControlName="time" type="number" />
      <mat-error *ngIf="pickupForm.controls.time.hasError('required')">
        Waiting Time is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-- <div class="btns-wrapper">
      <button
        (click)="addAvailableTimes()"
        class="add-btn"
        color="accent"
        mat-flat-button
        type="button"
      >
        Available Times
      </button>
    </div> -->
  </div>
  <!-- <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>From Date</mat-label>
      <input
        matInput
        [matDatepicker]="fromDate"
        formControlName="fromDate"
        readonly
        (click)="fromDate.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
      <mat-error *ngIf="pickupForm.controls.fromDate.hasError('required')">
        From Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>To Date</mat-label>
      <input
        matInput
        [matDatepicker]="toDate"
        formControlName="toDate"
        readonly
        (click)="toDate.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
      <mat-error *ngIf="pickupForm.controls.toDate.hasError('required')">
        To Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->
  <div class="form-group">
    <mat-slide-toggle class="status" formControlName="status">
      Pickup Status
    </mat-slide-toggle>
  </div>
  <div class="time-area">
    <button
      class="time-btn"
      color="accent"
      mat-flat-button
      type="button"
      (click)="addTime()"
    >
      Working Hours
    </button>
    <ng-container *ngIf="workTime.length">
      <div class="day-container">
        <div class="box" *ngFor="let wt of workTime; let i = index">
          <div class="head">{{ wt.day }}</div>
          <div class="body" *ngFor="let time of wt.time">
            {{ time.open }} - {{ time.close }}
          </div>
          <button
            class="delete-btn"
            color="warn"
            mat-flat-button
            type="button"
            (click)="deleteDay(i)"
          >
            Remove
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetPickupForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="pickupsFacade.error$ | async">
    <mat-error>
      {{ pickupsFacade.error$ | async }}
    </mat-error>
  </div>
</form>
