<h1>Add New Department</h1>
<form
  [formGroup]="departmentForm"
  class="form"
  (ngSubmit)="onDepartment()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Department Name</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="departmentForm.controls.title.hasError('required')">
        Department Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Department Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error
        *ngIf="departmentForm.controls.description.hasError('required')"
      >
        Department Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetDepartmentForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="departmentsFacade.error$ | async">
    <mat-error>
      {{ departmentsFacade.error$ | async }}
    </mat-error>
  </div>
</form>
