<div class="wrapper">
  <div class="days">
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Saturday')"
        >Saturday</mat-checkbox
      >
    </div>
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Sunday')"
        >Sunday</mat-checkbox
      >
    </div>
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Monday')"
        >Monday</mat-checkbox
      >
    </div>
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Tuesday')"
        >Tuesday</mat-checkbox
      >
    </div>
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Wednesday')"
        >Wednesday</mat-checkbox
      >
    </div>
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Thursday')"
        >Thursday</mat-checkbox
      >
    </div>
    <div class="row">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, 'Friday')"
        >Friday</mat-checkbox
      >
    </div>
  </div>
  <div class="inputs">
    <div class="form-group">
      <mat-form-field class="half-half-width">
        <mat-label>Max Customer</mat-label>
        <input matInput type="number" value="0" #maxCustomer />
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Start</mat-label>
        <input
          matInput
          [ngxTimepicker]="open"
          readonly
          [format]="24"
          #opening
          readonly
        />
        <ngx-material-timepicker #open></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>End</mat-label>
        <input
          matInput
          [ngxTimepicker]="close"
          readonly
          [format]="24"
          #closeing
          readonly
        />
        <ngx-material-timepicker #close></ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="btns">
  <button
    class="time"
    color="warn"
    mat-flat-button
    type="button"
    (click)="cancel()"
  >
    Cancel
  </button>
  <button
    class="time"
    color="primary"
    mat-flat-button
    type="button"
    (click)="done(opening.value, closeing.value, maxCustomer.value)"
  >
    Save
  </button>
</div>
