:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  width: 30rem;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    width: 8rem;
    height: 3.5rem;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
  }
}
