<h1>Are you sure?</h1>
<div class="row">
  <button mat-flat-button color="warn" type="button" (click)="close(false)">
    Cancel
  </button>
  <button mat-flat-button color="primary" type="button" (click)="close(true)">
    Yes
  </button>
</div>
