<div class="intro">
  <img src="./assets/svg/login2.svg" alt="" />
</div>
<div class="form-wrapper">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <input type="text" placeholder="Email Address" formControlName="email" />
    <div class="error-container" *ngIf="f.email.errors && f.email.touched">
      <div class="row" *ngIf="f.email.errors.required">Email required</div>
      <div class="row" *ngIf="f.email.errors.email">Email is incorrect</div>
    </div>
    <input type="password" placeholder="Password" formControlName="password" />
    <div
      class="error-container"
      *ngIf="f.password.errors && f.password.touched"
    >
      <div class="row" *ngIf="f.password.errors.required">
        Password required
      </div>
      <div class="row" *ngIf="f.password.errors.minlength">
        Password is too short
      </div>
    </div>
    <button type="submit" [disabled]="authFacade.isloading$ | async">
      LOG IN
    </button>
    <div class="error">{{ authFacade.error$ | async }}</div>
    <div class="redirect">
      <a [routerLink]="['/forgot-password']">Forgot Password?</a>
    </div>
    <div class="redirect">
      Don't have an account?&nbsp;&nbsp;<a [routerLink]="['/register']"
        >Sign up</a
      >
    </div>
  </form>
</div>
