<div class="filters">
  <a class="create" [routerLink]="['/home/products/create-product']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Product</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="products && products.length">
  <div class="container">
    <div class="header">
      <div class="caption">Name</div>
      <div class="caption">Description</div>
      <div class="caption">Price</div>
      <!-- <div class="caption">Tax</div> -->
      <div class="caption">Status</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let product of products">
        <div class="row">
          <div class="context">{{ product.title | truncate: 45 }}</div>
          <div class="context">{{ product.description | truncate: 45 }}</div>
          <div class="context">{{ product.price | currency: 'GBP' }}</div>
          <!-- <div class="context">{{ product.tax }}</div> -->
          <div class="context">
            {{ product.status ? 'Active' : 'Deactive' }}
          </div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(product)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(product)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <div class="expand">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onExpand(product)"
              >
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="details"
          *ngIf="uniqueKey[product.id] && product.productVariant?.length"
        >
          <div class="header">
            <div class="caption">Title</div>
            <div class="delete"></div>
            <div class="edit"></div>
          </div>
          <ng-container *ngFor="let child of product.productVariant">
            <div class="details__row">
              <div class="context">{{ child.title | truncate: 45 }}</div>
              <div class="actions">
                <div class="delete">
                  <button
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a heart icon"
                    (click)="onRemove(product.id, child.id)"
                  >
                    <mat-icon svgIcon="delete_forever"></mat-icon>
                  </button>
                </div>
                <div class="edit">
                  <button
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a heart icon"
                    (click)="onEdit(child, 'child')"
                  >
                    <mat-icon svgIcon="edit"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="productsFacade.productsTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
