<label for="theme-color">Theme Color</label>
<input
  id="theme-color"
  readonly
  class="theme-color"
  [style.background]="themeColor"
  [colorPicker]="themeColor"
  [cpPosition]="'bottom'"
  (colorPickerChange)="themeColor = $event"
/>
<label for="button-color">Button Color</label>
<input
  id="button-color"
  readonly
  class="theme-color"
  [style.background]="buttonColor"
  [colorPicker]="buttonColor"
  [cpPosition]="'bottom'"
  (colorPickerChange)="buttonColor = $event"
/>
<h1>Shop Intro</h1>
<ckeditor
  [editor]="Editor"
  tagName="textarea"
  (ready)="onReady($event)"
  data="<p>Online Shop</p>"
></ckeditor>
<!--  <form
  [formGroup]="currencyForm"
  class="form"
  (ngSubmit)="onCurrency()"
  #formDirective="ngForm"
>
<div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Currency</mat-label>
      <mat-select (selectionChange)="selectCurrency($event.value)">
        <mat-option
          *ngFor="let currency of currencies$ | async"
          [value]="currency"
        >
          {{ currency.code }} - {{ currency.symbol }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="currencyForm.controls.title.hasError('required')">
        Currency is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Currency Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="currencyForm.controls.title.hasError('required')">
        Currency Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetCurrencyForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="generalFacade.error$ | async">
    <mat-error>
      {{ generalFacade.error$ | async }}
    </mat-error>
  </div>
</form> -->
