<form [formGroup]="categoryForm" class="form" (ngSubmit)="onCategory()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Category (Create Subcategory)</mat-label>
        <mat-select formControlName="parent">
          <mat-option (click)="categoryForm.controls.parent.reset()"
            >None</mat-option
          >
          <mat-option
            *ngFor="let category of categoriesFacade.categories$ | async"
            [value]="'/api/categories/' + category?.id"
          >
            {{ category.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryForm.controls.parent.hasError('required')">
          Category is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Category Name</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="categoryForm.controls.title.hasError('required')">
          Category Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Category Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error
          *ngIf="categoryForm.controls.description.hasError('required')"
        >
          Category Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Category Meta Title</mat-label>
        <input matInput formControlName="metaTitle" />
        <mat-error *ngIf="categoryForm.controls.metaTitle.hasError('required')">
          Category metaTitle is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Category Meta Description</mat-label>
        <input matInput formControlName="metaDescription" />
        <mat-error
          *ngIf="categoryForm.controls.metaDescription.hasError('required')"
        >
          Category Meta Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group status">
      <mat-slide-toggle formControlName="displayed">
        Category Displayed
      </mat-slide-toggle>
    </div>
    <div class="form-group">
      <div class="add-btns">
        <input
          type="file"
          #coverInput
          id="fileUpload"
          name="fileUpload"
          accept="image/*"
          style="display: none"
        />
        <!-- multiple="multiple" -->
        <button
          (click)="addImage('cover')"
          class="add-btn"
          color="accent"
          mat-flat-button
          type="button"
        >
          Add Cover
        </button>
        <ng-container *ngIf="coverProgress">
          <mat-progress-bar
            mode="determinate"
            [value]="coverProgress"
          ></mat-progress-bar>
          <div class="progress">{{ coverProgress }} %</div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div class="add-btns">
        <input
          type="file"
          #thumbnailInput
          id="fileUpload"
          name="fileUpload"
          accept="image/*"
          style="display: none"
        />
        <!-- multiple="multiple" -->
        <button
          (click)="addImage('thumbnailImage')"
          class="add-btn"
          color="accent"
          mat-flat-button
          type="button"
        >
          Add Thumbnail
        </button>
        <ng-container *ngIf="thumnailProgress">
          <mat-progress-bar
            mode="determinate"
            [value]="thumnailProgress"
          ></mat-progress-bar>
          <div class="progress">{{ thumnailProgress }} %</div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div class="add-btns">
        <input
          type="file"
          #menuThumbnailInput
          id="fileUpload"
          name="fileUpload"
          accept="image/*"
          style="display: none"
        />
        <!-- multiple="multiple" -->
        <button
          (click)="addImage('menuthumbnailImage')"
          class="add-btn"
          color="accent"
          mat-flat-button
          type="button"
        >
          Add Menu Thumbnail
        </button>
        <ng-container *ngIf="menuThumnailProgress">
          <mat-progress-bar
            mode="determinate"
            [value]="menuThumnailProgress"
          ></mat-progress-bar>
          <div class="progress">{{ menuThumnailProgress }} %</div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
