<form [formGroup]="variationForm" class="form" (ngSubmit)="onVariation()">
  <div class="controls">
    <div class="form-group" *ngIf="data.variant.parent">
      <mat-form-field class="full-width">
        <mat-label>Variant</mat-label>
        <mat-select formControlName="parent">
          <mat-option
            *ngFor="let variant of data.variants"
            [value]="'/api/variants/' + variant?.id"
          >
            {{ variant?.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="variationForm.controls.parent.hasError('required')">
          Variant is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="variationForm.controls.title.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error
          *ngIf="variationForm.controls.description.hasError('required')"
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
