:host {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  height: 5rem;
}
mat-divider.mat-divider {
  margin: 0 0 4rem 0;
}
.form {
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 3rem 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.variants {
  display: flex;
  flex-direction: column;
  width: 100%;
  .add {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    button.add-btn {
      width: 12rem;
      height: 4rem;
      color: #fff;
    }
  }
  .add-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button.delete-btn {
      height: 3rem;
      width: 6rem;
      text-align: center;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }
}
.error {
  margin: 1rem 0;
  line-height: 2.5rem;
  color: #ff3d71;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  word-break: break-word;
}
