<h1>Create Variant Group</h1>
<form
  [formGroup]="variationParentForm"
  class="form"
  (ngSubmit)="onVariationParent()"
  #formParentDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Variant Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        *ngIf="variationParentForm.controls.title.hasError('required')"
      >
        Variant Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error
        *ngIf="variationParentForm.controls.description.hasError('required')"
      >
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>SubVariant</mat-label>
      <mat-select formControlName="parent">
        <mat-option (click)="variationParentForm.controls.parent.reset()"
          >None</mat-option
        >
        <mat-option
          *ngFor="let variant of variationsFacade.variations$ | async"
          [value]="'/api/variants/' + variant?.id"
        >
          {{ variant?.title }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="variationParentForm.controls.parent.hasError('required')"
      >
        SubVariant is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetVariationForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <!-- <div class="error" *ngIf="variationsFacade.error$ | async">
    <mat-error>
      {{ variationsFacade.error$ | async }}
    </mat-error>
  </div> -->
</form>
