@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    width: 25rem;
    min-height: 5rem;
    max-height: 5rem;
    border-bottom: 1px solid var($--navbar-border-color);
    cursor: pointer;
    #arrow-down {
      margin-left: auto;
      width: 18px;
      height: 18px;
      transform: rotate(90deg);
      transition: all 0.2s linear;
      polyline {
        stroke: var($--secondary-font);
      }
      &.rotate {
        transform: rotate(0deg);
      }
    }
    span {
      display: flex;
      align-items: center;
      line-height: 2rem;
      width: calc(100% - 5.2rem);
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: var($--secondary-font);
      transition: all 0.3s linear;
    }
    mat-icon.mat-icon {
      color: #8f9bb3;
      transition: all 0.3s linear;
    }
    &:hover span {
      color: var($--hover-color);
    }
    &:hover mat-icon.mat-icon {
      color: var($--hover-color);
    }
    &.active span {
      color: var($--hover-color);
    }
    &.active mat-icon.mat-icon {
      color: var($--hover-color);
    }
  }
  .child-routes {
    display: flex;
    flex-direction: column;
    .child-routes__item {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      width: 25rem;
      min-height: 5rem;
      max-height: 5rem;
      border-bottom: 1px solid var($--navbar-border-color);
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        line-height: 2rem;
        margin-left: 3.4rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: var($--secondary-font);
        transition: all 0.3s linear;
      }
      &:hover span {
        color: var($--hover-color);
      }
      &.active span {
        color: var($--hover-color);
      }
    }
  }
}
