<ng-container *ngIf="!_link.children.length">
  <div class="row" [routerLink]="_link.routePath" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="icon" [svgIcon]="_link.iconName">
    </mat-icon>
    <span>{{ _link.routeName }}</span>
  </div>
</ng-container>
<ng-container *ngIf="_link.children.length">
  <div class="row" (click)="navigate()" [ngClass]="{ active: active }">
    <mat-icon aria-hidden="false" aria-label="icon" [svgIcon]="_link.iconName">
    </mat-icon>
    <span>{{ _link.routeName }}</span>
    <svg
      *ngIf="_link.children.length"
      [ngClass]="{ rotate: isChildRoutesOpen }"
      id="arrow-down"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-chevron-down"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" />
      <polyline points="6 9 12 15 18 9" />
    </svg>
  </div>
  <div class="child-routes" *ngIf="_link.children.length && isChildRoutesOpen">
    <div
      class="child-routes__item"
      *ngFor="let child of _link.children; trackBy: trackByFn"
      [routerLink]="child.routePath"
      routerLinkActive="active"
    >
      <span>
        {{ child.routeName }}
      </span>
    </div>
  </div>
</ng-container>
