<form [formGroup]="deliveryForm" class="form" (ngSubmit)="onDelivery()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Store</mat-label>
        <mat-select
          (selectionChange)="selectShop($event.value)"
          formControlName="shop"
        >
          <mat-option
            *ngFor="let shop of shopsFacade.shops$ | async"
            [value]="shop.id"
          >
            {{ shop.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deliveryForm.controls.shop.hasError('required')">
          Store is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field class="half-width">
        <mat-label>Delivery Time</mat-label>
        <input
          matInput
          [ngxTimepicker]="picker"
          readonly
          [format]="24"
          formControlName="deliveryTime"
        />
        <ngx-material-timepicker #picker></ngx-material-timepicker>
        <mat-error
          *ngIf="deliveryForm.controls.deliveryTime.hasError('required')"
        >
          Delivery Time is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->
    </div>
    <div class="form-group">
      <!-- <mat-form-field class="half-width">
        <mat-label>Minimum Amount Order</mat-label>
        <input matInput formControlName="minimumAmountOrder" type="number" />
        <mat-error
          *ngIf="deliveryForm.controls.minimumAmountOrder.hasError('required')"
        >
          Minimum Amount Order is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->
      <mat-form-field class="half-width">
        <mat-label>Delivery Time</mat-label>
        <input
          matInput
          [ngxTimepicker]="picker"
          readonly
          [format]="24"
          formControlName="deliveryTime"
        />
        <ngx-material-timepicker #picker></ngx-material-timepicker>
        <mat-error
          *ngIf="deliveryForm.controls.deliveryTime.hasError('required')"
        >
          Delivery Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Delivery Fee</mat-label>
        <input matInput formControlName="deliveryFee" type="number" />
        <mat-error
          *ngIf="deliveryForm.controls.deliveryFee.hasError('required')"
        >
          Delivery Fee is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Min</mat-label>
        <input matInput formControlName="min" type="number" />
        <mat-error *ngIf="deliveryForm.controls.min.hasError('required')">
          Min is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Max</mat-label>
        <input matInput formControlName="max" type="number" />
        <mat-error *ngIf="deliveryForm.controls.max.hasError('required')">
          Max is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="time-area">
      <button
        class="time-btn"
        color="accent"
        mat-flat-button
        type="button"
        (click)="addTime()"
      >
        Available Times
      </button>
      <ng-container *ngIf="deliveryAvailableTimes.length">
        <div
          class="row"
          *ngFor="let wt of deliveryAvailableTimes; let i = index"
        >
          <div class="day">
            <span class="day">{{ wt.day }}</span>
            <button
              class="delete-btn"
              color="warn"
              mat-flat-button
              type="button"
              (click)="deleteDay(i)"
            >
              Delete
            </button>
          </div>
          <div class="time" *ngFor="let time of wt.time">
            <span class="open">Open: {{ time.open }}</span>
            <span class="close">Close: {{ time.close }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="form-group google">
      <google-map
        height="400px"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        [options]="options"
        #googleMap
      >
        <map-marker
          [position]="markerPosition"
          [options]="markerOptions"
        ></map-marker>
      </google-map>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
