@import 'mixin';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-height: 80vh;
}
google-map {
  width: 100%;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.controls {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 7rem);
  overflow-y: auto;
  padding: 0 1rem;
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    darken(#efefef, 20%),
    0.5rem
  );
}
.time-area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2rem 0;
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    &:nth-child(2) {
      margin-top: 3rem;
    }
    .day {
      display: flex;
      align-items: center;
      height: 3rem;
      font-weight: 600;
      font-size: 1.2rem;
      justify-content: space-between;
      button.delete-btn {
        height: 3rem;
        width: 6rem;
        text-align: center;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px;
        font-weight: 500;
      }
    }
    .time {
      align-items: center;
      display: flex;
      padding-left: 5rem;
      font-size: 1.2rem;
      height: 3rem;
      .open {
        margin-right: 3rem;
      }
      .close {
        margin-right: 3rem;
      }
    }
  }
  button.time-btn {
    width: 15rem;
    height: 4rem;
    padding: 0;
    color: #fff;
  }
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 0 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
