@import 'variables';

:host {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  height: 5rem;
}
google-map {
  width: 100%;
}
.form {
  width: 100%;
  h1 {
    display: flex;
    align-items: center;
  }
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 3rem 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.error {
  margin: 1rem 0;
  line-height: 2.5rem;
  color: #ff3d71;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  word-break: break-word;
}
.roles-area {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  .header {
    font-size: 1.8rem;
    font-weight: bold;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: var($--table-border);
    .check-all {
      margin-left: auto;
      width: 8rem;
      .ch-box {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
    max-height: 6rem;
    border-bottom: var($--table-border);
    padding-left: 2rem;
    &:first-child {
      border-top: var($--table-border);
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      font-weight: 600;
      font-size: 1.3rem;
    }
    .wrapper {
      display: flex;
      align-items: center;
      div {
        margin-left: 3rem;
        width: 8rem;
        .ch-box {
          font-weight: 600;
          font-size: 1.2rem;
        }
      }
    }
  }
}
