<h1>Create Manager</h1>
<form
  [formGroup]="managerForm"
  class="form"
  (ngSubmit)="onManager()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Store</mat-label>
      <mat-select formControlName="shops" multiple>
        <mat-option
          *ngFor="let shop of shopsFacade.shops$ | async"
          [value]="'/api/shops/' + shop.id"
        >
          {{ shop.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="managerForm.controls.shops.hasError('required')">
        Store is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" type="text" />
      <mat-error *ngIf="managerForm.controls.firstName.hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" type="text" />
      <mat-error *ngIf="managerForm.controls.lastName.hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="managerForm.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="managerForm.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" type="text" />
      <mat-error *ngIf="managerForm.controls.phone.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" type="text" />
      <mat-error *ngIf="managerForm.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <h1>Permissions</h1>
  <div class="roles-area">
    <ng-container *ngFor="let role of roles">
      <div class="header">
        {{ role.name }}
        <div class="check-all">
          <mat-checkbox
            class="ch-box"
            (change)="addAllPermission($event.checked, role.childs)"
            >All</mat-checkbox
          >
        </div>
      </div>
      <ng-container *ngFor="let r of role.childs">
        <div class="row">
          <span class="title">
            {{ r.name }}
          </span>
          <div class="wrapper">
            <ng-container *ngFor="let role of r.roles">
              <div>
                <mat-checkbox
                  class="ch-box"
                  [checked]="checkIfExist(role.value)"
                  (change)="
                    addCreatePermission($event.checked, role.name, r.roles)
                  "
                  >{{ role.name }}</mat-checkbox
                >
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetManagerForm()"
      [disabled]="managersFacade.isLoading$ | async"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="managersFacade.isLoading$ | async"
    >
      Save
    </button>
  </div>
  <div class="error" *ngIf="managersFacade.error$ | async">
    <mat-error>
      {{ managersFacade.error$ | async }}
    </mat-error>
  </div>
</form>
