@import 'variables';
@import 'ease';

:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 7.5rem);
  width: 35rem;
  transform: translateX(100%);
  background-color: var($--secondary-bg);
  box-shadow: var($--navbar-box-shadow);
  z-index: 1;
  transition: all 0.4s $easeOutExpo;
  will-change: transform;
  &.active {
    box-shadow: 0px 0px 10px #00000022;
    transform: translateX(0);
  }
}
