<form [formGroup]="taxForm" class="form" (ngSubmit)="onTax()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="taxForm.controls.name.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="taxForm.controls.description.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Rate</mat-label>
        <input type="number" matInput formControlName="percentage" />
        <mat-error *ngIf="taxForm.controls.percentage.hasError('required')">
          Rate is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group status">
      <mat-slide-toggle formControlName="status"> Status </mat-slide-toggle>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
