<div class="filters">
  <a class="create" [routerLink]="['/home/categories/create-category']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Category</span>
  </a>
  <mat-form-field class="search">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="categories && categories.length">
  <div class="container">
    <div class="header">
      <div class="caption">Category Name</div>
      <div class="caption">Category Description</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let category of categories">
        <div class="row">
          <div class="context">{{ category.title | truncate: 45 }}</div>
          <div class="context">{{ category.description | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(category)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(category)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <div class="expand">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onExpand(category)"
              >
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="details"
          *ngIf="uniqueKey[category.id] && category.childern?.length"
        >
          <div class="header">
            <div class="caption">Title</div>
            <div class="delete"></div>
            <div class="edit"></div>
          </div>
          <ng-container *ngFor="let child of category.childern">
            <div class="details__row">
              <div class="context">{{ child.title | truncate: 45 }}</div>
              <div class="actions">
                <div class="delete">
                  <button
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a heart icon"
                    (click)="onRemove(category.id, child.id)"
                  >
                    <mat-icon svgIcon="delete_forever"></mat-icon>
                  </button>
                </div>
                <div class="edit">
                  <button
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a heart icon"
                    (click)="onEdit(child, 'child')"
                  >
                    <mat-icon svgIcon="edit"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="categoriesFacade.categoriesTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
