<form [formGroup]="allergyForm" class="form" (ngSubmit)="onAllergy()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="allergyForm.controls.title.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error
          *ngIf="allergyForm.controls.description.hasError('required')"
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
