@import 'variables';
@import 'ease';

:host {
  display: flex;
  align-items: center;
  background-color: var($--secondary-bg);
  box-shadow: var($--taskbar-box-shadow);
  height: 7.5rem;
  padding: 1.75rem 2rem;
  width: 100%;
  position: relative;
  z-index: 999;
}
.logo {
  display: flex;
  align-items: center;
  height: 4rem;
  border-left: 1px solid var($--taskbar-border-color);
  margin-left: 2rem;
  padding: 0 2rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: var($--primary-font);
  text-transform: capitalize;
}
.tools {
  display: flex;
  margin-left: auto;
  .intracts {
    display: flex;
  }
  .pallet-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .pallet-menu {
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 6rem;
    left: -8.5rem;
    height: 21rem;
    width: 25rem;
    background: darken($color: #fff, $amount: 5);
    box-shadow: 0px 3px 6px #00000021;
    z-index: 9999;
    transition: all 0.4s $easeOutExpo;
    will-change: transform;
    &:after {
      content: '';
      position: absolute;
      top: -1.5rem;
      left: 10.75rem;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid darken($color: #fff, $amount: 5);
    }
    &.active {
      display: flex;
    }
    .pallet {
      height: 8rem;
      width: 100%;
      cursor: pointer;
    }
    .light {
      background-color: #fff;
    }
    .black {
      background-color: #1f1f1f;
    }
  }
  .user {
    display: flex;
    align-items: center;
    border-left: 1px solid var($--taskbar-border-color);
    margin-left: 2rem;
    padding: 0 0 0 2rem;
    .img {
      background: gray;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      margin-right: 2rem;
    }
    span {
      font-size: 1.2rem;
      color: var($--primary-font);
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}
