<app-menu-svg (click)="changeMenu()"></app-menu-svg>
<ng-container *ngIf="authFacade.profile$ | async as profile">
  <div class="logo">{{ profile.restaurantName }}</div>
</ng-container>
<div class="tools">
  <div class="intracts">
    <app-maximize-svg (click)="changeMaximize()"></app-maximize-svg>
    <div class="pallet-container">
      <div class="pallet-menu" [ngClass]="{ active: isPalletOpen }">
        <div class="pallet light" (click)="selectTheme('light')"></div>
        <div class="pallet black" (click)="selectTheme('dark')"></div>
      </div>
      <app-pallet-svg (click)="changePallet()"></app-pallet-svg>
    </div>
    <app-bell-svg (click)="changeNotify()"></app-bell-svg>
    <app-settings-svg (click)="changeSettings()"></app-settings-svg>
  </div>
  <div class="user">
    <div class="img"></div>
    <ng-container *ngIf="authFacade.profile$ | async as profile">
      <span>{{ profile.firstName }}</span>
    </ng-container>
  </div>
  <app-power-svg (click)="logout()"></app-power-svg>
</div>
