<div class="wrapper">
  <div class="days">
    <div class="row" *ngFor="let item of days">
      <mat-checkbox
        class="chbox"
        [checked]="true"
        (change)="selectDay($event, item)"
        >{{ item }}</mat-checkbox
      >
    </div>
  </div>
  <div class="inputs">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Start</mat-label>
        <input
          matInput
          [ngxTimepicker]="open"
          readonly
          [format]="24"
          #opening
          readonly
        />
        <ngx-material-timepicker #open></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>End</mat-label>
        <input
          matInput
          [ngxTimepicker]="close"
          readonly
          [format]="24"
          #closeing
          readonly
        />
        <ngx-material-timepicker #close></ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="btns">
  <button
    class="time"
    color="warn"
    mat-flat-button
    type="button"
    (click)="cancel()"
  >
    Cancel
  </button>
  <button
    class="time"
    color="primary"
    mat-flat-button
    type="button"
    (click)="done(opening.value, closeing.value)"
  >
    Save
  </button>
</div>
