// @import 'mixin';
// @import 'variables';
// @include scrollBarColor(
//   0.5rem,
//   var($--primary-bg),
//   darken(#efefef, 20%),
//   0.5rem
// );

:host {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 35rem;
}
.wrapper {
  display: flex;
  height: 28rem;
  width: 40rem;
}
.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28rem;
  width: 50%;
  .row {
    display: flex;
    align-items: center;
    min-height: 4rem;
    .chbox {
      font-size: 1.4rem;
    }
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 28rem;
  width: 50%;
}
.btns {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 7rem;
  button {
    width: 10rem;
    height: 3.5rem;
    margin-left: 3rem;
  }
}
