<div class="filters">
  <a class="create" [routerLink]="['/home/managers/create-manager']">
    <mat-icon svgIcon="add"></mat-icon><span>Create Manager</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      (input)="search($event.target.value)"
      autocomplete="off"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="managers && managers.length">
  <div class="container">
    <div class="header">
      <div class="caption">First Name</div>
      <div class="caption">Last Name</div>
      <div class="caption">Email</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let manager of managers">
        <div class="row">
          <div class="context">{{ manager.user.firstName | truncate: 45 }}</div>
          <div class="context">{{ manager.user.lastName | truncate: 45 }}</div>
          <div class="context">{{ manager.user.email | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(manager)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(manager)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <!-- <div class="expand">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onExpand(manager)"
            >
              <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
            </button>
          </div> -->
          </div>
        </div>
        <!-- <div class="details" *ngIf="uniqueKey[manager.id] && manager.child">
          <div class="header">
            <div class="caption">ID</div>
            <div class="caption">Title</div>
          </div>
          <ng-container *ngFor="let child of manager.child">
            <div class="details__row">
              <div class="context">{{ child.id }}</div>
              <div class="context">{{ child.title }}</div>
            </div>
          </ng-container>
        </div> -->
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="managersFacade.managersTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
