:host {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  height: 5rem;
}
.form {
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .add-btns {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem 0;
    .progress {
      margin-left: 3rem;
      width: 10rem;
      font-size: 1.4rem;
      font-weight: bold;
    }
    button.add-btn {
      margin-right: 3rem;
      padding: 0;
      min-width: 12rem;
      height: 4rem;
      color: #fff;
    }
  }
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 3rem 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.error {
  margin: 1rem 0;
  line-height: 2.5rem;
  color: #ff3d71;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  word-break: break-word;
}
