<h1>Add New Meal-Deal Step</h1>
<form
  [formGroup]="mealDealForm"
  class="form"
  (ngSubmit)="onMealDeal()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="mealDealForm.controls.title.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="mealDealForm.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Minimum Pick</mat-label>
      <input matInput formControlName="minimumPick" type="number" />
      <mat-error *ngIf="mealDealForm.controls.minimumPick.hasError('required')">
        Minimum Pick is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Maximum Pick</mat-label>
      <input matInput formControlName="maximumPick" type="number" />
      <mat-error *ngIf="mealDealForm.controls.maximumPick.hasError('required')">
        Maximum Pick is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Products</mat-label>
      <mat-select formControlName="foods" multiple>
        <mat-option
          *ngFor="let products of productsFacade.products$ | async"
          [value]="'/api/products/' + products.id"
        >
          {{ products.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="mealDealForm.controls.foods.hasError('required')">
        Products is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <!-- <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Sets</mat-label>
      <mat-select formControlName="sets">
        <mat-option
          *ngFor="let sets of mealDealsFacade.sets$ | async"
          [value]="'/api/sets/' + sets.id"
        >
          {{ sets.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="mealDealForm.controls.foods.hasError('required')">
        Sets is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->
  <div class="form-group">
    <mat-slide-toggle class="status" formControlName="status">
      Status
    </mat-slide-toggle>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetMealDealForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <!-- <div class="error" *ngIf="mealDealsFacade.error$ | async">
    <mat-error>
      {{ mealDealsFacade.error$ | async }}
    </mat-error>
  </div> -->
</form>
<h1>Add New Meal-Deal Set</h1>
<form
  [formGroup]="setForm"
  class="form"
  (ngSubmit)="onSet()"
  #setDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="setForm.controls.title.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="setForm.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Min Step</mat-label>
      <input matInput formControlName="minStep" type="number" />
      <mat-error *ngIf="setForm.controls.minStep.hasError('required')">
        Min Step is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Max Step</mat-label>
      <input matInput formControlName="maxStep" type="number" />
      <mat-error *ngIf="setForm.controls.maxStep.hasError('required')">
        Max Step is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Stores</mat-label>
      <mat-select formControlName="shop">
        <mat-option
          *ngFor="let shops of shopsFacade.shops$ | async"
          [value]="'/api/shops/' + shops.id"
        >
          {{ shops.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="setForm.controls.shop.hasError('required')">
        Stores is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />
      <mat-error *ngIf="setForm.controls.price.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Steps</mat-label>
      <mat-select formControlName="steps" multiple>
        <mat-option
          *ngFor="let steps of mealDealsFacade.steps$ | async"
          [value]="'/api/steps/' + steps.id"
        >
          {{ steps.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="setForm.controls.steps.hasError('required')">
        Steps is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>From Date</mat-label>
      <input
        matInput
        [matDatepicker]="fromDate"
        formControlName="startingDate"
        readonly
        (click)="fromDate.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
      <mat-error *ngIf="setForm.controls.startingDate.hasError('required')">
        From Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>From Time</mat-label>
      <input
        matInput
        [ngxTimepicker]="fromTime"
        readonly
        [format]="24"
        formControlName="startTime"
      />
      <ngx-material-timepicker #fromTime></ngx-material-timepicker>
      <!-- (timeChanged)="fromTimeChange($event)" -->
      <mat-error *ngIf="setForm.controls.startTime.hasError('required')">
        Start Time is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDate"
        formControlName="endDate"
        readonly
        (click)="endDate.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
      <mat-error *ngIf="setForm.controls.endDate.hasError('required')">
        End Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>End Time</mat-label>
      <input
        matInput
        [ngxTimepicker]="endTime"
        readonly
        [format]="24"
        formControlName="endTime"
      />
      <ngx-material-timepicker #endTime></ngx-material-timepicker>
      <!-- (timeChanged)="endTimeChange($event)" -->
      <mat-error *ngIf="setForm.controls.endTime.hasError('required')">
        End Time is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-slide-toggle class="status" formControlName="status">
      Status
    </mat-slide-toggle>
  </div>
  <div class="form-group">
    <div class="add-btns">
      <input
        type="file"
        #fileInput
        id="fileUpload"
        name="fileUpload"
        accept="image/*"
        style="display: none"
      />
      <!-- multiple="multiple" -->
      <button
        (click)="addImage()"
        class="add-btn"
        color="accent"
        mat-flat-button
        type="button"
      >
        Add Image
      </button>
      <ng-container *ngIf="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="progress"
        ></mat-progress-bar>
        <div class="progress">{{ progress }} %</div>
      </ng-container>
    </div>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetMealDealForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="mealDealsFacade.error$ | async">
    <mat-error>
      {{ mealDealsFacade.error$ | async }}
    </mat-error>
  </div>
</form>
