@import './variables';

@mixin scrollBarColor($wd: 1rem, $background: #008eff, $bar: #006af9, $rad: 0) {
  &::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: $rad;
  }
  &::-webkit-scrollbar {
    width: $wd;
    // border-radius: 2rem;
    background-color: $background;
  }
  &::-webkit-scrollbar-thumb {
    height: 5rem !important;
    border-radius: 1rem;
    background-color: $bar;
  }
}
@mixin xScrollBarColor(
  $ht: 1rem,
  $background: #00abff,
  $bar: #006af9,
  $rad: 0
) {
  &::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: $rad;
  }

  &::-webkit-scrollbar {
    height: $ht;
    border-radius: 2rem;
    background-color: $background;
  }

  &::-webkit-scrollbar-thumb {
    height: 5rem !important;
    border-radius: 1rem;
    background-color: $bar;
  }
}
@mixin hostStyles() {
  display: flex;
  flex-direction: column;
  background-color: var($--secondary-bg);
  border: 0.0625rem solid var($--border-color);
  border-radius: 0.25rem;
  color: var($--primary-font);
  margin-bottom: 3.6rem;
  padding: 3rem;
}

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}
// @function theme-var($key, $fallback: null, $map: $theme-map-light) {
//   @if not map-has-key($map, $key) {
//     @error "key: '#{$key}', is not a key in map: #{$map}";
//   }
//   @if ($fallback) {
//     @return var($key, $fallback);
//   } @else {
//     @return var($key);
//   }
// }
