@import 'src/styles/normalize.scss';
@import 'src/styles/mixin';
@import 'src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  user-select: none;
  font-size: 62.5%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    var($--secondary-bg),
    0.5rem
  );
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: 0.5px !important;
}

.snack {
  // background: $red;
  simple-snack-bar.mat-simple-snackbar {
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    font-weight: 600;
  }
}

// mat-label {
//   font-weight: bold;
//   font-size: 1.2rem;
//   color: var($--secondary-font);
//   font-family: 'Poppins', sans-serif;
// }

.timepicker-backdrop-overlay {
  z-index: 1039 !important;
}
.timepicker-overlay {
  z-index: 1039 !important;
}
ckeditor {
  width: calc(100% - 6rem);
}
