@import './variables';
@import './mixin';
@import '~@angular/material/theming';

@include mat-core();
$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-green, A400, A200, A700);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn
    )
  )
);

$dark-primary: mat-palette($mat-amber);
$dark-accent: mat-palette($mat-blue, A700, A200, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn
    )
  )
);

:root.light {
  @include spread-map($theme-map-light);
  @include angular-material-theme($light-theme);
}
:root.dark {
  @include spread-map($theme-map-dark);
  @include angular-material-color($dark-theme);
}

:root.theme-transition,
:root.theme-transition * {
  transition: background 500ms ease-in-out, color 200ms ease-in-out,
    text-shadow 500ms ease-in-out, box-shadow 500ms ease-in-out,
    border-color 500ms ease-in-out !important;
  transition-delay: 0s !important;
}
