$--primary-bg: --primary-bg;
$--secondary-bg: --secondary-bg;
$--primary-font: --primary-font;
$--secondary-font: --secondary-font;
$--border-color: --border-color;
$--hover-color: --hover-color;
$--taskbar-border-color: --taskbar-border-color;
$--taskbar-box-shadow: --taskbar-box-shadow;
$--navbar-border-color: --navbar-border-color;
$--navbar-box-shadow: --navbar-box-shadow;
$--input-bg: --input-bg;
$--input-border-color: --input-border-color;
$--input-font-color: --input-font-color;
$--button-bg: --button-bg;
$--button-border-color: --button-border-color;
$--button-font-color: --button-font-color;
$--button-hover-color: --button-hover-color;
$--redirect-text-color: --redirect-text-color;
$--redirect-link-color: --redirect-link-color;
$--scrollbar-color: --scrollbar-color;
$--icon-color: --icon-color;
$--table-border: --table-border;

// Default theme
$theme-map-light: (
  $--primary-bg: #edf1f7,
  $--secondary-bg: #ffffff,
  $--primary-font: #222b45,
  $--secondary-font: #8f9bb3,
  $--border-color: #edf1f7,
  $--hover-color: #598bff,
  $--taskbar-border-color: #edf1f7,
  $--taskbar-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1),
  $--navbar-border-color: #edf1f7,
  $--navbar-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1),
  $--input-bg: #f7f9fc,
  $--input-border-color: #e4e9f2,
  $--input-font-color: #222b45,
  $--button-bg: #f7f9fc,
  $--button-border-color: #e4e9f2,
  $--button-font-color: #222b45,
  $--button-hover-color: #e4ebf5,
  $--redirect-text-color: #222b45,
  $--redirect-link-color: gray,
  $--scrollbar-color: #edf1f7,
  $--icon-color: #8f9bb3,
  $--table-border: 1px solid rgba(0, 0, 0, 0.12)
);

// Override the default light theme
$theme-map-dark: (
  $--primary-bg: #1f1f1f,
  $--secondary-bg: #303030,
  $--primary-font: #ffffff,
  $--secondary-font: #8f9bb3,
  $--border-color: #2f2b2b,
  $--hover-color: #ffc107,
  $--taskbar-border-color: #444,
  $--taskbar-box-shadow: (
    0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12)
  ),
  $--navbar-border-color: rgba(255, 255, 255, 0.12),
  $--navbar-box-shadow: (
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12)
  ),
  $--input-bg: #1f1f1f,
  $--input-border-color: #1f1f1f,
  $--input-font-color: #ffffff,
  $--button-bg: #1f1f1f,
  $--button-border-color: #1f1f1f,
  $--button-font-color: #ffffff,
  $--button-hover-color: #1a1b1b,
  $--redirect-text-color: #e4ebf5,
  $--redirect-link-color: #f7f9fc,
  $--scrollbar-color: #000,
  $--icon-color: #fff,
  $--table-border: 1px solid rgba(255, 255, 255, 0.12)
);
