@import 'variables';
.group {
  display: flex;
  flex-direction: column;
  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.4rem;
    min-height: 3.5rem;
    max-height: 3.5rem;
    border: var($--table-border);
    border-radius: 2px;
    margin: 0 0 1rem 0;
    padding: 0 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
  }
  .row {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    .chbox {
      display: flex;
      align-items: center;
      width: 14rem;
      font-size: 1.2rem;
      min-height: 3.5rem;
      text-transform: capitalize;
    }
  }
}
