<div class="group">
  <h1 (click)="expanded = !expanded">
    <span>{{ items.title }}</span>
    <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
  </h1>
  <div class="row" *ngIf="expanded && childs.length">
    <mat-checkbox
      class="chbox"
      *ngFor="let item of childs"
      [checked]="calcChecked(item.id)"
      (change)="onChange($event.checked, items, item)"
      >{{ item.title }}</mat-checkbox
    >
  </div>
</div>
