<ng-container *ngIf="_source && _source.length">
  <div class="container">
    <div class="header">
      <div class="caption" *ngFor="let sourceCaption of sourceCaptions">
        {{ sourceCaption.title }}
      </div>
      <div class="delete" *ngIf="remove"></div>
      <div class="edit" *ngIf="edit"></div>
      <div class="expand" *ngIf="expand"></div>
    </div>
    <div class="body">
      <ng-container *ngFor="let item of _source">
        <div class="row">
          <ng-container *ngFor="let sourceCaption of sourceCaptions">
            <div class="context">{{ item[sourceCaption.context] }}</div>
          </ng-container>
          <div class="delete" *ngIf="remove">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onRemove(item)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <div class="edit" *ngIf="edit">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onEdit(item)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <!-- && item[childsKey]?.length -->
          <div class="expand" *ngIf="expand">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onExpand(item)"
            >
              <mat-icon> keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </div>
        <div
          class="details"
          *ngIf="expand && uniqueKey[item[sourceKey]] && item[childsKey]"
        >
          <div class="header">
            <div class="caption" *ngFor="let detailsCaption of detailsCaptions">
              {{ detailsCaption.title }}
            </div>
          </div>
          <ng-container *ngFor="let child of item[childsKey]">
            <div class="details__row">
              <ng-container *ngFor="let detailsCaption of detailsCaptions">
                <div class="context">{{ child[detailsCaption.context] }}</div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- <div class="footer">
  <mat-paginator
    [length]="100"
    hidePageSize
    [pageSize]="12"
    (page)="onChangePage($event)"
  >
  </mat-paginator>
</div> -->
</ng-container>
