@import 'mixin';
@import 'variables';

:host {
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028), 0 2.8px 10px rgba(0, 0, 0, 0.035),
    0 4.9px 17.9px rgba(0, 0, 0, 0.042), 0 9.2px 33.4px rgba(0, 0, 0, 0.05),
    0 22px 80px rgba(0, 0, 0, 0.07);
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  overflow-x: auto;
  @include xScrollBarColor(
    1rem,
    var($--secondary-bg),
    darken(#efefef, 20%),
    1rem
  );
}
.header {
  display: inline-flex;
  height: 5rem;
  border-bottom: var($--table-border);
  .caption {
    height: 5rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
    min-width: 20rem;
    max-width: 20rem;
    color: var($--secondary-font);
  }
  .delete,
  .edit,
  .expand {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.body {
  display: inline-flex;
  flex-direction: column;
  .row {
    display: flex;
    min-height: 5rem;
    max-height: 5rem;
    border-bottom: var($--table-border);
    .context {
      display: flex;
      align-items: center;
      height: 5rem;
      min-width: 20rem;
      max-width: 20rem;
      color: var($--primary-font);
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    .delete,
    .edit,
    .expand {
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .expand {
      mat-icon.mat-icon {
        font-size: 32px;
        width: 32px;
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    border-left: var($--table-border);
    margin-left: 10rem;
    .header {
      padding-left: 10rem;
      .caption {
        font-size: 1.1rem;
      }
    }
    .details__row {
      display: flex;
      min-height: 5rem;
      max-height: 5rem;
      border-bottom: var($--table-border);
      padding-left: 10rem;
      .context {
        display: flex;
        align-items: center;
        min-height: 5rem;
        max-height: 5rem;
        min-width: 20rem;
        max-width: 20rem;
        color: var($--primary-font);
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}
.footer {
  margin-top: 3rem;
}
