<div class="filters">
  <a class="create" [routerLink]="['/home/variations/create-variation']">
    <mat-icon svgIcon="add"></mat-icon><span>Create Variation</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="variations && variations.length">
  <div class="container">
    <div class="header">
      <!-- <div class="caption">ID</div> -->
      <div class="caption">Title</div>
      <div class="caption">Description</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let variation of variations">
        <div class="row">
          <!-- <div class="context">{{ variation.id }}</div> -->
          <div class="context">{{ variation.title | truncate: 45 }}</div>
          <div class="context">{{ variation.description | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(variation.id)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(variation)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <div class="expand">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onExpand(variation)"
              >
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="details"
          *ngIf="uniqueKey[variation.id] && variation.children?.length"
        >
          <div class="header">
            <div class="caption">Title</div>
            <div class="caption">Description</div>
            <div class="delete"></div>
            <div class="edit"></div>
          </div>
          <ng-container *ngFor="let child of variation.children">
            <div class="details__row">
              <div class="context">{{ child?.title | truncate: 45 }}</div>
              <div class="context">{{ child?.description | truncate: 45 }}</div>
              <div class="delete">
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a heart icon"
                  (click)="onRemove(variation.id, child.id)"
                >
                  <mat-icon svgIcon="delete_forever"></mat-icon>
                </button>
              </div>
              <div class="edit">
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a heart icon"
                  (click)="onEdit(child)"
                >
                  <mat-icon svgIcon="edit"></mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="variationsFacade.variationsTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
