<h1>Add New Company</h1>
<form
  [formGroup]="merchantForm"
  class="form"
  (ngSubmit)="onMerchant()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Company Name</mat-label>
      <input matInput formControlName="companyName" />
      <mat-error *ngIf="merchantForm.controls.companyName.hasError('required')">
        Company Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Postcode</mat-label>
      <input matInput formControlName="zipCode" #postCode />
      <mat-error *ngIf="merchantForm.controls.zipCode.hasError('required')">
        Postcode is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Company Address</mat-label>
      <textarea matInput formControlName="registrationAddress"></textarea>
      <mat-error
        *ngIf="merchantForm.controls.registrationAddress.hasError('required')"
      >
        Company Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="merchantForm.controls.phone.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Country</mat-label>
      <mat-select
        formControlName="country"
        (selectionChange)="getStates($event.value)"
      >
        <mat-option
          *ngFor="let country of countries$ | async"
          [value]="country.name"
        >
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="merchantForm.controls.country.hasError('required')">
        Country is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>City</mat-label>
      <input
        type="text"
        placeholder="City"
        aria-label="Number"
        matInput
        formControlName="city"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let state of filteredOptions | async"
          [value]="state.name"
        >
          {{ state.name }}
        </mat-option>
      </mat-autocomplete>
      <!-- <mat-select formControlName="city">
        <mat-option *ngFor="let state of states$ | async" [value]="state.name">
          {{ state.name }}
        </mat-option>
      </mat-select> -->
      <mat-error *ngIf="merchantForm.controls.city.hasError('required')">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetMerchantForm()"
      [disabled]="merchantsFacade.isLoading$ | async"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="merchantsFacade.isLoading$ | async"
    >
      Save
    </button>
  </div>
  <div class="error" *ngIf="merchantsFacade.error$ | async">
    <mat-error>
      {{ merchantsFacade.error$ | async }}
    </mat-error>
  </div>
</form>
