@import 'mixin';
@import 'variables';
@import 'ease';

:host {
  display: flex;
  flex-direction: column;
  background-color: var($--secondary-bg);
  box-shadow: var($--navbar-box-shadow);
  height: calc(100vh - 7.5rem);
  width: 25rem;
  padding: 2rem 0;
  overflow: hidden;
  @include scrollBarColor(
    0.5rem,
    var($--secondary-bg),
    var($--scrollbar-color),
    0.5rem
  );
  transition: all 0.4s $easeOutExpo;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  &:hover {
    overflow-y: scroll;
  }
  &.nav-closed {
    box-shadow: none;
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}
