<form [formGroup]="merchantForm" class="form" (ngSubmit)="onMerchant()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" />
        <mat-error
          *ngIf="merchantForm.controls.companyName.hasError('required')"
        >
          Company Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Reagistration Address</mat-label>
        <textarea matInput formControlName="registrationAddress"></textarea>
        <mat-error
          *ngIf="merchantForm.controls.registrationAddress.hasError('required')"
        >
          Registration Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" />
        <mat-error *ngIf="merchantForm.controls.country.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error *ngIf="merchantForm.controls.city.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
        <mat-error *ngIf="merchantForm.controls.phone.hasError('required')">
          Phone is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Postcode</mat-label>
        <input matInput formControlName="zipCode" />
        <mat-error *ngIf="merchantForm.controls.zipCode.hasError('required')">
          Postcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
