<h1>Add New Store</h1>
<form
  [formGroup]="shopForm"
  class="form"
  (ngSubmit)="onShop()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Store Name</mat-label>
      <input matInput formControlName="title" autocomplete="off" />
      <mat-error *ngIf="shopForm.controls.title.hasError('required')">
        Store Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="shopForm.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="shopForm.controls.phone.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        <mat-option
          *ngFor="let currency of generalFacade.currencies$ | async"
          [value]="currency.title"
          >{{ currency.title }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="shopForm.controls.currency.hasError('required')">
        Currency is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Url (www.example.com)</mat-label>
      <input matInput formControlName="url" />
      <mat-error *ngIf="shopForm.controls.url.hasError('required')">
        Url is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="shopForm.controls.url.hasError('pattern')">
        Please check <strong>Pattern</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Postcode</mat-label>
      <input matInput formControlName="zipCode" #postCode autocomplete="off" />
      <!-- (input)="runGeoCoder($event.target.value)" -->
      <mat-error *ngIf="shopForm.controls.zipCode.hasError('required')">
        Postcode is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="shopForm.controls.address.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Building Number</mat-label>
      <input matInput formControlName="buildingNumber" />
      <mat-error *ngIf="shopForm.controls.buildingNumber.hasError('required')">
        Building Number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option
          *ngFor="let country of country$ | async"
          [value]="country.name"
        >
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="shopForm.controls.country.hasError('required')">
        Country is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Time Zone</mat-label>
      <mat-select formControlName="timeZone">
        <ng-container *ngFor="let timeZone of timeZone$ | async">
          <mat-option *ngFor="let time of timeZone.timezones" [value]="time">
            {{ time }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="shopForm.controls.timeZone.hasError('required')">
        Time Zone is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-control status">
    <mat-slide-toggle formControlName="status"> Status </mat-slide-toggle>
  </div>
  <div class="form-group">
    <google-map
      height="300px"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      [options]="options"
      (mapClick)="addMarker($event)"
      #googleMap
    >
      <map-marker
        [position]="markerPosition"
        [options]="markerOptions"
        (mapDragend)="dragMarker($event)"
      ></map-marker>
    </google-map>
  </div>
  <mat-error
    *ngIf="
      shopForm.controls.location.hasError('required') &&
      shopForm.controls.location.touched
    "
  >
    Location is <strong>required</strong>
  </mat-error>
  <div class="time-area">
    <button
      class="time-btn"
      color="accent"
      mat-flat-button
      type="button"
      (click)="addTime()"
    >
      Working Hours
    </button>
    <ng-container *ngIf="workTime.length">
      <div class="day-container">
        <div class="box" *ngFor="let wt of workTime; let i = index">
          <div class="head">{{ wt.day }}</div>
          <div class="body" *ngFor="let time of wt.time">
            {{ time.open }} - {{ time.close }}
          </div>
          <button
            class="delete-btn"
            color="warn"
            mat-flat-button
            type="button"
            (click)="deleteDay(i)"
          >
            Remove
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetShopForm()"
      [disabled]="shopsFacade.isLoading$ | async"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="shopsFacade.isLoading$ | async"
    >
      Save
    </button>
  </div>
  <div class="error" *ngIf="shopsFacade.error$ | async">
    <mat-error>
      {{ shopsFacade.error$ | async }}
    </mat-error>
  </div>
</form>
