<form [formGroup]="menuForm" class="form" (ngSubmit)="onMenu()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Stores</mat-label>
        <mat-select formControlName="shop">
          <mat-option
            *ngFor="let shop of shopsFacade.shops$ | async"
            [value]="shop.id"
          >
            {{ shop.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="menuForm.controls.shop.hasError('required')">
          Stores is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="menuForm.controls.title.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="menuForm.controls.description.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
