<form [formGroup]="accessoryForm" class="form" (ngSubmit)="onAccessory()">
  <div class="controls">
    <div class="form-group" *ngIf="data.accessory.parent">
      <mat-form-field class="full-width">
        <mat-label>Accessory</mat-label>
        <mat-select formControlName="parent">
          <mat-option
            *ngFor="let accessory of data.accessories"
            [value]="'/api/accessories/' + accessory?.id"
          >
            {{ accessory?.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="accessoryForm.controls.parent.hasError('required')">
          Accessory is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="accessoryForm.controls.title.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <mat-form-field class="half-width">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" />
        <mat-error *ngIf="accessoryForm.controls.price.hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->
      <mat-form-field class="full-width">
        <mat-label>Free</mat-label>
        <input matInput formControlName="free" type="number" />
        <mat-error *ngIf="accessoryForm.controls.free.hasError('required')">
          Free is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Min</mat-label>
        <input matInput formControlName="min" type="number" />
        <mat-error *ngIf="accessoryForm.controls.min.hasError('required')">
          Min is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Max</mat-label>
        <input matInput formControlName="max" type="number" />
        <mat-error *ngIf="accessoryForm.controls.max.hasError('required')">
          Max is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
