<h1>Add New Payment</h1>
<form
  [formGroup]="paymentForm"
  class="form"
  (ngSubmit)="onPayment()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Payment Name</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="paymentForm.controls.title.hasError('required')">
        payment Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>payment Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="paymentForm.controls.description.hasError('required')">
        Payment Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetPaymentForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="paymentsFacade.error$ | async">
    <mat-error>
      {{ paymentsFacade.error$ | async }}
    </mat-error>
  </div>
</form>
