<div class="intro">
  <img src="./assets/svg/forgot.svg" alt="" />
</div>
<div class="form-wrapper">
  <form class="form" [formGroup]="resetForm" (ngSubmit)="onReset()">
    <!-- <input type="text" placeholder="Code" formControlName="code" />
    <div class="error-container" *ngIf="f.code.errors && f.code.touched">
      <div class="row" *ngIf="f.code.errors.required">Code required</div>
    </div> -->
    <input type="text" placeholder="Email Address" formControlName="email" />
    <div class="error-container" *ngIf="f.email.errors && f.email.touched">
      <div class="row" *ngIf="f.email.errors.required">Email required</div>
      <div class="row" *ngIf="f.email.errors.email">Email is incorrect</div>
    </div>
    <input type="password" placeholder="Password" formControlName="password" />
    <div
      class="error-container"
      *ngIf="f.password.errors && f.password.touched"
    >
      <div class="row" *ngIf="f.password.errors.required">
        Password required
      </div>
    </div>
    <input
      type="password"
      placeholder="Password"
      formControlName="confirmPassword"
    />
    <div
      class="error-container"
      *ngIf="f.confirmPassword.errors && f.confirmPassword.touched"
    >
      <div class="row" *ngIf="f.confirmPassword.errors.required">
        Confirm Password required
      </div>
      <div class="row" *ngIf="f.confirmPassword.errors.isMatching">
        Confirm Password is not matched
      </div>
    </div>
    <button type="submit" [disabled]="authFacade.isloading$ | async">
      Reset Password
    </button>
    <div class="error">{{ authFacade.error$ | async }}</div>
    <div class="redirect">
      Already have an account?&nbsp;&nbsp;<a [routerLink]="['/login']"
        >Log in</a
      >
    </div>
    <div class="redirect">
      Don't have an account?&nbsp;&nbsp;<a [routerLink]="['/register']"
        >Register</a
      >
    </div>
  </form>
</div>
