@import 'mixin';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-height: 80vh;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.controls {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 7rem);
  overflow-y: auto;
  padding: 0 1rem;
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    darken(#efefef, 20%),
    0.5rem
  );
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.product-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .half-width {
    width: 60%;
  }
  .half-half-width {
    width: 35%;
  }
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 0 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
