<form [formGroup]="discountForm" class="form" (ngSubmit)="onDiscount()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="discountForm.controls.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error
          *ngIf="discountForm.controls.description.hasError('required')"
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Discount Type</mat-label>
        <mat-select
          formControlName="discountType"
          (selectionChange)="changeDiscountType($event.value)"
        >
          <mat-option value="product">Product</mat-option>
          <mat-option value="cart">Cart</mat-option>
          <mat-option value="mix">Mix and match</mat-option>
        </mat-select>
        <mat-error
          *ngIf="discountForm.controls.discountType.hasError('required')"
        >
          Discount Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>User Access</mat-label>
        <mat-select formControlName="userLimitation" multiple>
          <mat-option
            *ngFor="let user of authFacade.users$ | async"
            [value]="'/api/users/' + user.id"
          >
            {{ user.firstName }} {{ user.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>User Type</mat-label>
        <mat-select formControlName="userType">
          <mat-option value="first">New Customers</mat-option>
          <mat-option value="other">Existing Customers</mat-option>
        </mat-select>
        <mat-error *ngIf="discountForm.controls.userType.hasError('required')">
          User type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Priority</mat-label>
        <input matInput formControlName="priority" type="number" />
        <mat-error *ngIf="discountForm.controls.priority.hasError('required')">
          Priority is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Total Uses for each user</mat-label>
        <input matInput formControlName="numberOfusePerUser" type="number" />
        <mat-error
          *ngIf="discountForm.controls.numberOfusePerUser.hasError('required')"
        >
          Total Uses for each user is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Store</mat-label>
        <mat-select formControlName="shop" multiple>
          <mat-option
            *ngFor="let shop of shopsFacade.shops$ | async"
            [value]="'/api/shops/' + shop.id"
          >
            {{ shop.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="discountForm.controls.shop.hasError('required')">
          Store is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>From Date</mat-label>
        <input
          matInput
          [matDatepicker]="fromDate"
          formControlName="fromDate"
          readonly
          (click)="fromDate.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
        <mat-error *ngIf="discountForm.controls.fromDate.hasError('required')">
          From Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>To Date</mat-label>
        <input
          matInput
          [matDatepicker]="toDate"
          formControlName="toDate"
          readonly
          (click)="toDate.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
        <mat-error *ngIf="discountForm.controls.toDate.hasError('required')">
          To Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="type-wrapper" *ngIf="discountType === 'cart'">
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" />
          <mat-error *ngIf="discountForm.controls.code.hasError('required')">
            Code is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Minimum Cart Value</mat-label>
          <input matInput formControlName="minCartPrice" type="number" />
          <mat-error
            *ngIf="discountForm.controls.minCartPrice.hasError('required')"
          >
            Minimum Cart Value is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="type-wrapper" *ngIf="discountType === 'mix'">
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Category</mat-label>
          <mat-select
            (selectionChange)="selectDiscountedCategory($event.value)"
            formControlName="discountedCategory"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.node.id"
            >
              {{ category.node.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="product-wrapper half-width">
          <mat-form-field class="half-width">
            <mat-label>Discounted Products</mat-label>
            <mat-select formControlName="discountedProducts">
              <mat-option
                *ngFor="let product of discountedProductsList"
                [value]="product.node.id"
              >
                {{ product.node.title }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                discountForm.controls.discountedProducts.hasError('required')
              "
            >
              Discounted Products is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-half-width">
            <mat-label>Number</mat-label>
            <input matInput formControlName="discountedNumber" type="number" />
            <mat-error
              *ngIf="
                discountForm.controls.discountedNumber.hasError('required')
              "
            >
              Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Category</mat-label>
          <mat-select
            (selectionChange)="selectFreeCategory($event.value)"
            formControlName="freeCategory"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.node.id"
            >
              {{ category.node.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="product-wrapper half-width">
          <mat-form-field class="half-width">
            <mat-label>Free Products</mat-label>
            <mat-select formControlName="freeProducts" multiple>
              <mat-option
                *ngFor="let product of freeProductsList"
                [value]="product.node.id"
              >
                {{ product.node.title }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="discountForm.controls.freeProducts.hasError('required')"
            >
              Free Products is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-half-width">
            <mat-label>Number</mat-label>
            <input matInput formControlName="freeNumber" type="number" />
            <mat-error
              *ngIf="discountForm.controls.freeNumber.hasError('required')"
            >
              Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="type-wrapper" *ngIf="discountType === 'product'">
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Category</mat-label>
          <mat-select
            formControlName="category"
            (selectionChange)="selectFreeCategory($event.value)"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.node.id"
            >
              {{ category.node.title }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="discountForm.controls.category.hasError('required')"
          >
            Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Products</mat-label>
          <mat-select formControlName="products" multiple>
            <mat-option
              *ngFor="let product of freeProductsList"
              [value]="product.node.id"
            >
              {{ product.node.title }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="discountForm.controls.freeProducts.hasError('required')"
          >
            Products is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Price</mat-label>
          <input matInput formControlName="amount" type="number" />
          <mat-error *ngIf="discountForm.controls.amount.hasError('required')">
            Price is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Price Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="fixed">Amount</mat-option>
            <mat-option value="percent">Percentage</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-slide-toggle class="status" formControlName="freeDelivery">
        Free Delivery
      </mat-slide-toggle>
    </div>
    <div class="form-group">
      <mat-slide-toggle class="status" formControlName="isExclusive">
        Exclusive
      </mat-slide-toggle>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
