<div class="filters">
  <a class="create" [routerLink]="['/home/store/create-shop']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Store</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      (input)="search($event.target.value)"
      autocomplete="off"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="shops && shops.length">
  <div class="container">
    <div class="header">
      <div class="caption">Restaurant Name</div>
      <div class="caption">Phone</div>
      <div class="caption">Email</div>
      <div class="caption">Created At</div>
      <div class="caption">status</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let shop of shops">
        <div class="row">
          <div class="context">{{ shop.title | truncate: 45 }}</div>
          <div class="context">{{ shop.phone | truncate: 45 }}</div>
          <div class="context">{{ shop.email | truncate: 45 }}</div>
          <div class="context">{{ shop.createdAt | date: 'medium' }}</div>
          <div class="context">{{ shop.status | status }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(shop)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(shop)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="shopsFacade.shopsTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
