<form [formGroup]="mealDealForm" class="form" (ngSubmit)="onMealDeal()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="mealDealForm.controls.title.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error
          *ngIf="mealDealForm.controls.description.hasError('required')"
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Min Step</mat-label>
        <input matInput formControlName="minStep" type="number" />
        <mat-error *ngIf="mealDealForm.controls.minStep.hasError('required')">
          Min Step is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Max Step</mat-label>
        <input matInput formControlName="maxStep" type="number" />
        <mat-error *ngIf="mealDealForm.controls.maxStep.hasError('required')">
          Max Step is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Store</mat-label>
        <mat-select formControlName="shop">
          <mat-option
            *ngFor="let shops of shopsFacade.shops$ | async"
            [value]="'/api/shops/' + shops.id"
          >
            {{ shops.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mealDealForm.controls.shop.hasError('required')">
          Store is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" />
        <mat-error *ngIf="mealDealForm.controls.price.hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Steps</mat-label>
        <mat-select formControlName="steps" multiple>
          <mat-option
            *ngFor="let steps of mealDealsFacade.steps$ | async"
            [value]="'/api/steps/' + steps.id"
          >
            {{ steps.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mealDealForm.controls.steps.hasError('required')">
          Steps is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>From Date</mat-label>
        <input
          matInput
          [matDatepicker]="fromDate"
          formControlName="startingDate"
          readonly
          (click)="fromDate.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
        <mat-error
          *ngIf="mealDealForm.controls.startingDate.hasError('required')"
        >
          From Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>From Time</mat-label>
        <input
          matInput
          [ngxTimepicker]="fromTime"
          readonly
          [format]="24"
          formControlName="startTime"
        />
        <ngx-material-timepicker #fromTime></ngx-material-timepicker>
        <!-- (timeChanged)="fromTimeChange($event)" -->
        <mat-error *ngIf="mealDealForm.controls.startTime.hasError('required')">
          Start Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>End Date</mat-label>
        <input
          matInput
          [matDatepicker]="endDate"
          formControlName="endDate"
          readonly
          (click)="endDate.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
        <mat-error *ngIf="mealDealForm.controls.endDate.hasError('required')">
          End Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-label>End Time</mat-label>
        <input
          matInput
          [ngxTimepicker]="endTime"
          readonly
          [format]="24"
          formControlName="endTime"
        />
        <ngx-material-timepicker #endTime></ngx-material-timepicker>
        <!-- (timeChanged)="endTimeChange($event)" -->
        <mat-error *ngIf="mealDealForm.controls.endTime.hasError('required')">
          Start Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-slide-toggle class="status" formControlName="status">
        Status
      </mat-slide-toggle>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="close()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
