@import 'variables';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2rem;
  width: 3rem;
  &:hover .stroke {
    stroke: var($--hover-color);
  }
}
.stroke {
  stroke: var($--icon-color);
  transition: all 0.3s linear;
}
