<h1>Add New Delivery Zone</h1>
<div class="wrapper">
  <div class="create">
    <form
      [formGroup]="deliveryForm"
      class="form"
      (ngSubmit)="onDelivery()"
      #formDirective="ngForm"
    >
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="deliveryForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Store</mat-label>
          <mat-select
            (selectionChange)="selectShop($event.value)"
            formControlName="shop"
          >
            <mat-option
              *ngFor="let shop of shopsFacade.shops$ | async"
              [value]="shop.id"
            >
              {{ shop.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="deliveryForm.controls.shop.hasError('required')">
            Store is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Delivery Fee</mat-label>
          <input matInput formControlName="deliveryFee" type="number" />
          <div matSuffix class="ico">
            {{ currency | currencySymbol }}
          </div>
          <mat-error
            *ngIf="deliveryForm.controls.deliveryFee.hasError('required')"
          >
            Delivery Fee is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Tax</mat-label>
          <input matInput formControlName="tax" type="number" />
          <mat-error *ngIf="deliveryForm.controls.tax.hasError('required')">
            Tax is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Delivery Time (Min)</mat-label>
          <input matInput formControlName="deliveryTime" type="number" />
          <mat-error
            *ngIf="deliveryForm.controls.deliveryTime.hasError('required')"
          >
            Delivery Time (Min) is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Minimum Basket</mat-label>
          <input matInput formControlName="min" type="number" />
          <div matSuffix class="ico">
            {{ currency | currencySymbol }}
          </div>
          <mat-error *ngIf="deliveryForm.controls.min.hasError('required')">
            Minimum Basket is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="time-area">
        <button
          class="time-btn"
          color="accent"
          mat-flat-button
          type="button"
          (click)="addTime()"
        >
          Working Hours
        </button>
        <ng-container *ngIf="workTime.length">
          <div class="day-container">
            <div class="box" *ngFor="let wt of workTime; let i = index">
              <div class="head">{{ wt.day }}</div>
              <div class="body" *ngFor="let time of wt.time">
                {{ time.open }} - {{ time.close }}
              </div>
              <button
                class="delete-btn"
                color="warn"
                mat-flat-button
                type="button"
                (click)="deleteDay(i)"
              >
                Remove
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="shape-switch">
        <button
          class="switch-btn"
          [color]="mapShapeMode === 'circle' ? 'primary' : 'accent'"
          mat-flat-button
          type="button"
          (click)="switchShape('circle')"
        >
          Circle
        </button>
        <button
          class="switch-btn"
          [color]="mapShapeMode === 'polygon' ? 'primary' : 'accent'"
          mat-flat-button
          type="button"
          (click)="switchShape('polygon')"
        >
          Shape
        </button>
      </div>
      <div class="form-group google">
        <google-map
          height="400px"
          width="100%"
          [center]="center"
          [zoom]="zoom"
          [options]="options"
          (mapClick)="addMarker($event)"
          #googleMap
        >
          <map-marker
            [position]="markerPosition"
            [options]="markerOptions"
          ></map-marker>
        </google-map>
      </div>
      <div class="form-group btns-group">
        <button
          mat-flat-button
          color="warn"
          type="button"
          (click)="resetDeliveryForm()"
        >
          Cancel
        </button>
        <button mat-flat-button color="primary" type="submit">Save</button>
      </div>
      <div class="error" *ngIf="deliveriesFacade.error$ | async">
        <mat-error>
          {{ deliveriesFacade.error$ | async }}
        </mat-error>
      </div>
    </form>
  </div>
  <div class="list">
    <ng-container *ngIf="deliveriesFacade.deliveries$ | async as deliveries">
      <ng-container *ngFor="let delivery of deliveries">
        <div class="row">
          <div class="context" (click)="editDelivery(delivery)">
            {{ delivery.name | truncate: 45 }}
          </div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(delivery)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="editDelivery(delivery)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
