@import 'variables';

:host {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  height: 5rem;
}
.wrapper {
  display: flex;
}
.create {
  display: flex;
  flex-direction: column;
  width: calc(100% - 22rem);
}
.list {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 2rem;
  border-left: var($--table-border);
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 0 0 1rem;
    border-bottom: var($--table-border);
    .actions {
      display: flex;
    }
    .context {
      cursor: pointer;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}
google-map {
  width: 100%;
}
.form {
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.google {
  margin: 2rem 0;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.half-half-width {
  width: 30%;
}
.time-area {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: var($--table-border);
  .day-container {
    width: 100%;
    display: flex;
    .box {
      display: flex;
      flex-direction: column;
      border-right: var($--table-border);
      width: calc(100% / 7);
      align-items: center;
      &:last-child {
        border-right: 0;
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        font-size: 1.2rem;
        font-weight: bold;
      }
      .body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: 600;
        height: 4rem;
      }
      button.delete-btn {
        height: 3rem;
        width: 6rem;
        text-align: center;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-top: auto;
      }
    }
  }
  button.time-btn {
    width: 15rem;
    height: 4rem;
    margin-bottom: 3rem;
    color: #fff;
  }
}
.shape-switch {
  display: flex;
  margin-top: 2rem;
  button.switch-btn {
    width: 12rem;
    height: 4rem;
    margin-right: 3rem;
    color: #fff;
  }
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 3rem 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.error {
  margin: 1rem 0;
  line-height: 2.5rem;
  color: #ff3d71;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  word-break: break-word;
}
