<div class="intro">
  <img src="./assets/svg/register2.svg" alt="" />
</div>
<div class="form-wrapper">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <input
      type="text"
      placeholder="Restaurant Name"
      formControlName="restaurantName"
    />
    <div
      class="error-container"
      *ngIf="f.restaurantName.errors && f.restaurantName.touched"
    >
      <div class="row" *ngIf="f.restaurantName.errors.required">
        Restaurant Name required
      </div>
      <div class="row" *ngIf="f.restaurantName.errors.minlength">
        Restaurant Name is too short
      </div>
    </div>
    <input type="text" placeholder="First Name" formControlName="firstName" />
    <div
      class="error-container"
      *ngIf="f.firstName.errors && f.firstName.touched"
    >
      <div class="row" *ngIf="f.firstName.errors.required">
        First Name required
      </div>
      <div class="row" *ngIf="f.firstName.errors.minlength">
        First Name is too short
      </div>
    </div>
    <input type="text" placeholder="Last Name" formControlName="lastName" />
    <div
      class="error-container"
      *ngIf="f.lastName.errors && f.lastName.touched"
    >
      <div class="row" *ngIf="f.lastName.errors.required">
        Last Name required
      </div>
      <div class="row" *ngIf="f.lastName.errors.minlength">
        Last Name is too short
      </div>
    </div>
    <input type="text" placeholder="Email Address" formControlName="email" />
    <div class="error-container" *ngIf="f.email.errors && f.email.touched">
      <div class="row" *ngIf="f.email.errors.required">Email required</div>
      <div class="row" *ngIf="f.email.errors.email">Email is incorrect</div>
    </div>
    <input type="password" placeholder="Password" formControlName="password" />
    <div
      class="error-container"
      *ngIf="f.password.errors && f.password.touched"
    >
      <div class="row" *ngIf="f.password.errors.required">
        Password required
      </div>
      <div class="row" *ngIf="f.password.errors.minlength">
        Password is too short
      </div>
    </div>
    <!-- <mat-form-field class="control">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- <div class="error-container" *ngIf="f.roles.errors && f.roles.touched">
      <div class="row" *ngIf="f.roles.errors.required">Roles required</div>
    </div> -->
    <button type="submit" [disabled]="authFacade.isloading$ | async">
      Sign up
    </button>
    <div class="error">{{ authFacade.error$ | async }}</div>
    <div class="redirect">
      Already have an account?&nbsp;&nbsp;<a [routerLink]="['/login']">
        Log in
      </a>
    </div>
  </form>
</div>
