@import 'variables';
@import 'mixin';

:host {
  display: flex;
  margin: 3.6rem;
  padding: 3.6rem;
  background-color: var($--secondary-bg);
  width: calc(100% - 7.2rem);
  height: calc(100vh - 7.2rem);
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-right: 5rem;
  img {
    width: 100%;
    height: calc(100vh - 14.4rem);
  }
}
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 14.4rem);
  width: 50%;
  padding-left: 5rem;
  padding-right: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: auto;
  @include scrollBarColor(
    0.5rem,
    var($--secondary-bg),
    var($--primary-bg),
    0.5rem
  );
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 45rem;
  max-height: 100%;
  mat-form-field.control,
  input {
    background-color: var($--input-bg);
    color: var($--input-font-color);
    border: 1px solid var($--input-border-color);
    margin: 1rem 0;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 0.25rem;
    &:first-child {
      margin-top: 0;
    }
    &::placeholder {
      font-size: 1.4rem;
    }
    &.error {
      border-color: #ff3d71;
    }
  }
  mat-form-field.control {
    min-height: 7rem;
    max-height: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .mat-form-field-label {
    font-size: 1.4rem !important;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  .error-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .row {
      color: #ff3d71;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      height: 3rem;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  button {
    margin: 1rem 0;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    background-color: var($--button-bg);
    color: var($--button-font-color);
    border: 1px solid var($--button-border-color);
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1.4rem;
    transition: all 0.3s linear;
    &:hover {
      background-color: var($--button-hover-color);
    }
  }
  .error {
    margin: 1rem 0;
    line-height: 2.5rem;
    color: #ff3d71;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    word-break: break-word;
  }
  .redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    min-height: 3rem;
    max-height: 3rem;
    width: 100%;
    color: var($--redirect-text-color);
    a {
      color: var($--redirect-link-color);
      text-decoration: underline;
    }
  }
}
