@import 'variables';
@import 'mixin';

:host {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  height: 5rem;
}
mat-divider.mat-divider {
  margin: 0 0 4rem 0;
}
.form {
  width: 100%;
}
.top-wrapper {
  display: flex;
  .top-controls {
    display: flex;
    flex-direction: column;
    width: calc(100% - 38rem);
  }
  .varaints {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    padding: 0 1rem;
    width: 35rem;
    height: 38rem;
    padding-bottom: 2rem;
    .c {
      height: 34rem;
      padding-right: 1rem;
      @include scrollBarColor(
        0.5rem,
        var($--primary-bg),
        darken(#efefef, 20%),
        0.5rem
      );
      overflow-y: scroll;
    }
  }
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 3rem 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.add-btns {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem 0;
  .progress {
    margin-left: 3rem;
    width: 10rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
  button.add-btn {
    margin-right: 3rem;
    padding: 0;
    min-width: 12rem;
    height: 4rem;
    color: #fff;
  }
}
.controls-wrapper {
  display: flex;
  align-items: center;
  .control-input {
    width: 10rem;
    margin-left: 3rem;
  }
  .control-accessory {
    width: 6rem;
    margin-left: 3rem;
  }
  .add {
    display: flex;
    align-items: center;
    button.add-btn {
      margin-left: 3rem;
      padding: 0;
      width: 12rem;
      height: 4rem;
      color: #fff;
    }
  }
}
.variant-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: var($--table-border);
  padding: 1.5rem 0;
  .product-caption {
    font-weight: bold;
    font-size: 1.4rem;
  }
  &:last-child {
    border-bottom: var($--table-border);
  }
}
.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  .day {
    display: flex;
    align-items: center;
    height: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: space-between;
    button.delete-btn {
      height: 3rem;
      width: 6rem;
      text-align: center;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }
  .time {
    align-items: center;
    display: flex;
    padding-left: 5rem;
    font-size: 1.2rem;
    height: 3rem;
    .open {
      margin-right: 3rem;
    }
    .close {
      margin-right: 3rem;
    }
  }
}
.error {
  margin: 1rem 0;
  line-height: 2.5rem;
  color: #ff3d71;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  word-break: break-word;
}
.day-container {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  .box {
    display: flex;
    flex-direction: column;
    border-right: var($--table-border);
    width: calc(100% / 7);
    align-items: center;
    &:last-child {
      border-right: 0;
    }
    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1.2rem;
      font-weight: 600;
      height: 4rem;
      .price {
        padding: 0.5rem 0;
        color: #f44336;
        font-weight: bold;
      }
    }
    button.delete-btn {
      height: 3rem;
      width: 6rem;
      text-align: center;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.5px;
      font-weight: 500;
      margin-top: auto;
    }
  }
}
