<h1>Add New Product</h1>
<form
  [formGroup]="productForm"
  class="form"
  (ngSubmit)="onProduct()"
  #formDirective="ngForm"
>
  <div class="top-wrapper">
    <div class="top-controls">
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option (click)="productForm.controls.department.reset()"
              >None</mat-option
            >
            <mat-option
              *ngFor="let department of departmentsFacade.departments$ | async"
              [value]="'/api/departments/' + department.id"
            >
              {{ department.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Category</mat-label>
          <mat-select formControlName="categories" multiple>
            <mat-option
              *ngFor="let category of categoriesFacade.categories$ | async"
              [value]="'/api/categories/' + category.id"
            >
              {{ category.title }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="productForm.controls.categories.hasError('required')"
          >
            Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Product Name</mat-label>
          <input matInput formControlName="title" />
          <mat-error *ngIf="productForm.controls.title.hasError('required')">
            Product Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Product Description</mat-label>
          <input matInput formControlName="description" />
          <mat-error
            *ngIf="productForm.controls.description.hasError('required')"
          >
            Product Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="half-width">
          <mat-label>Product Price</mat-label>
          <input matInput formControlName="price" type="number" />
          <mat-error *ngIf="productForm.controls.price.hasError('required')">
            Product Price is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Product Tax</mat-label>
          <mat-select formControlName="tax">
            <mat-option
              *ngFor="let tax of taxFacade.taxes$ | async"
              [value]="'/api/taxes/' + tax.id"
            >
              {{ tax.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-slide-toggle class="status" formControlName="status">
          Status
        </mat-slide-toggle>
        <mat-form-field class="half-width">
          <mat-label>Allergens</mat-label>
          <mat-select formControlName="allergies" multiple>
            <mat-option
              *ngFor="let allergy of allergiesFacade.allergies$ | async"
              [value]="'/api/allergies/' + allergy.id"
            >
              {{ allergy.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="varaints">
      <div class="c">
        <app-expandble-group
          *ngFor="let variants of this.variationsFacade.variations$ | async"
          [items]="variants"
          [selected]="selectedVar"
          (selectItem)="selectVariant($event)"
        ></app-expandble-group>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="add-btns">
      <input
        type="file"
        #fileInput
        id="fileUpload"
        name="fileUpload"
        accept="image/*"
        style="display: none"
      />
      <!-- multiple="multiple" -->
      <button
        (click)="addImage()"
        class="add-btn"
        color="accent"
        mat-flat-button
        type="button"
      >
        Add Image
      </button>
      <ng-container *ngIf="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="progress"
        ></mat-progress-bar>
        <div class="progress">{{ progress }} %</div>
      </ng-container>
    </div>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetProductForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
<mat-divider></mat-divider>
<ng-container *ngIf="combinations.length">
  <h1 ngif>Modify Product</h1>
  <form
    [formGroup]="productWithAccessoryForm"
    class="form"
    (ngSubmit)="onProductWithAccessory()"
    #productWithAccessory="ngForm"
  >
    <div class="wrapper" formArrayName="productVariant">
      <ng-container
        *ngFor="let product of productsControl.controls; let i = index"
      >
        <div class="variant-wrapper" [formGroupName]="i">
          <div class="form-group">
            <div class="product-caption">
              {{ product.value.title }}
            </div>
            <div class="controls-wrapper">
              <mat-slide-toggle class="status" formControlName="status">
                Default
              </mat-slide-toggle>
              <mat-form-field class="control-input">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number" />
              </mat-form-field>
              <mat-form-field class="control-input">
                <mat-label>Diet Types</mat-label>
                <mat-select formControlName="productTypes" multiple>
                  <mat-option
                    *ngFor="let type of typesFacade.types$ | async"
                    [value]="type.id"
                  >
                    {{ type.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="add">
                <button
                  (click)="multiplePrice(i)"
                  class="add-btn"
                  color="accent"
                  mat-flat-button
                  type="button"
                >
                  Multiple Price
                </button>
                <button
                  (click)="addAccessories(i)"
                  class="add-btn"
                  color="accent"
                  mat-flat-button
                  type="button"
                >
                  Add Accessory
                </button>
              </div>
            </div>
          </div>
          <ng-container *ngIf="product.value.prices.length">
            <div class="day-container">
              <div
                class="box"
                *ngFor="let wt of product.value.prices; let idx = index"
              >
                <div class="head">{{ wt.day }}</div>
                <div class="body" *ngFor="let time of wt.time">
                  <span> {{ time.open }} - {{ time.close }} </span>
                  <span class="price">
                    {{ time.price | currency: 'GBP' }}
                  </span>
                </div>
                <button
                  class="delete-btn"
                  color="warn"
                  mat-flat-button
                  type="button"
                  (click)="deleteBaseTimePrice(i, idx)"
                >
                  Remove
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container formArrayName="accessories">
            <ng-container
              *ngFor="let accessory of getAccesories(product); let j = index"
            >
              <ng-container [formGroupName]="j">
                <div class="form-group">
                  <div class="product-caption">
                    {{ accessory.value.title }}
                  </div>
                  <div class="controls-wrapper">
                    <mat-slide-toggle class="default" formControlName="default">
                      Default
                    </mat-slide-toggle>
                    <mat-form-field class="control-accessory">
                      <mat-label>Price</mat-label>
                      <input matInput formControlName="price" type="number" />
                    </mat-form-field>
                    <mat-form-field class="control-accessory">
                      <mat-label>Free</mat-label>
                      <input matInput formControlName="free" type="number" />
                    </mat-form-field>
                    <mat-form-field class="control-accessory">
                      <mat-label>Min</mat-label>
                      <input matInput formControlName="min" type="number" />
                    </mat-form-field>
                    <mat-form-field class="control-accessory">
                      <mat-label>Max</mat-label>
                      <input matInput formControlName="max" type="number" />
                    </mat-form-field>
                    <div class="add">
                      <button
                        (click)="removeAccessory(i, j)"
                        class="add-btn"
                        color="warn"
                        mat-flat-button
                        type="button"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="form-group btns-group">
      <button
        mat-flat-button
        color="warn"
        type="button"
        (click)="resetProductForm('clear-accessory')"
      >
        Cancel
      </button>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
    <div class="error" *ngIf="productsFacade.error$ | async">
      <mat-error>
        {{ productsFacade.error$ | async }}
      </mat-error>
    </div>
  </form>
</ng-container>
