<h1>Add New Menu</h1>
<form
  [formGroup]="menuForm"
  class="form"
  (ngSubmit)="onMenu()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Stores</mat-label>
      <mat-select formControlName="shop">
        <mat-option
          *ngFor="let shop of shopsFacade.shops$ | async"
          [value]="shop.id"
        >
          {{ shop.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="menuForm.controls.shop.hasError('required')">
        Stores is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Menu Name</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="menuForm.controls.title.hasError('required')">
        Menu Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Menu Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="menuForm.controls.description.hasError('required')">
        Menu Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="btns-wrapper">
    <button
      (click)="addProductHasMenu()"
      class="add-btn"
      color="accent"
      mat-flat-button
      type="button"
    >
      Product Menu
    </button>
  </div>
  <div class="wrapper" formArrayName="productHasMenu">
    <div
      class="available-times"
      *ngFor="let phmc of productHasMenuControl.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="form-group">
        <div class="controls-wrapper">
          <mat-form-field class="half-half-width">
            <mat-label>Products</mat-label>
            <mat-select formControlName="product">
              <mat-option
                *ngFor="let product of productsFacade.products$ | async"
                [value]="product.id"
              >
                {{ product.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-half-width">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number" />
          </mat-form-field>
        </div>
        <div class="btns-wrapper">
          <button
            (click)="deleteProductHasMenu(i)"
            class="action-btn"
            color="warn"
            mat-flat-button
            type="button"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btns-wrapper">
    <button
      (click)="addMenuAvailableTimes()"
      class="add-btn"
      color="accent"
      mat-flat-button
      type="button"
    >
      Add Menu Date
    </button>
  </div>
  <div class="wrapper" formArrayName="menuAvailableTimes">
    <div
      class="available-times"
      *ngFor="let matc of menuAvailableTimesControl.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="form-group">
        <div class="controls-wrapper time">
          <mat-form-field class="half-half-width">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="from"
              formControlName="from"
              readonly
              (click)="from.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="from"
            ></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
            <!-- <mat-error *ngIf="discountForm.controls.from.hasError('required')">
              From Date is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          <mat-form-field class="half-half-width">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="to"
              formControlName="to"
              readonly
              (click)="to.open()"
            />
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
            <!-- <mat-error *ngIf="discountForm.controls.from.hasError('required')">
              To Date is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="btns-wrapper">
          <button
            (click)="deleteMenuAvailableTimes(i)"
            class="action-btn"
            color="warn"
            mat-flat-button
            type="button"
          >
            Delete
          </button>
          <button
            (click)="addTimes(i)"
            class="action-btn"
            color="accent"
            mat-flat-button
            type="button"
          >
            Working Hours
          </button>
        </div>
      </div>
      <div class="time-area" *ngIf="matc.value.days.length">
        <div class="day-container">
          <div class="box" *ngFor="let wt of matc.value.days; let j = index">
            <div class="head">{{ wt.day }}</div>
            <div class="body" *ngFor="let time of wt.times">
              {{ time.open }} - {{ time.close }}
            </div>
            <button
              class="delete-btn"
              color="warn"
              mat-flat-button
              type="button"
              (click)="deleteDay(i, j)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetMenuForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="menusFacade.error$ | async">
    <mat-error>
      {{ menusFacade.error$ | async }}
    </mat-error>
  </div>
</form>
