<form [formGroup]="pickupForm" class="form" (ngSubmit)="onPickup()">
  <div class="controls">
    <div class="form-group">
      <mat-form-field class="half-width">
        <mat-label>Waiting Time (Minutes)</mat-label>
        <input matInput formControlName="time" type="number" />
        <mat-error *ngIf="pickupForm.controls.time.hasError('required')">
          Waiting Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-slide-toggle class="status" formControlName="status">
        Pickup Status
      </mat-slide-toggle>
    </div>
    <div class="time-area">
      <button
        class="time-btn"
        color="accent"
        mat-flat-button
        type="button"
        (click)="addTime()"
      >
        Working Hours
      </button>
      <ng-container *ngIf="workTime.length">
        <div class="day-container">
          <div class="box" *ngFor="let wt of workTime; let i = index">
            <div class="head">{{ wt.day }}</div>
            <div class="body" *ngFor="let time of wt.time">
              {{ time.open }} - {{ time.close }}
            </div>
            <button
              class="delete-btn"
              color="warn"
              mat-flat-button
              type="button"
              (click)="deleteDay(i)"
            >
              Remove
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-group btns-group">
    <button mat-flat-button color="warn" type="button" (click)="cancel()">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
