<app-taskbar></app-taskbar>
<div class="container">
  <app-settings-menu [ngClass]="{ active: isSettingsOpen }"></app-settings-menu>
  <app-navbar></app-navbar>
  <div
    class="route-container"
    [@fadeInAnimation]="getRouterOutletState(outlet)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
