@import 'mixin';
@import 'variables';
@import 'ease';

:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  height: calc(100vh - 7.5rem);
}
.route-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.6rem 3.6rem 0;
  display: flex;
  flex-direction: column;
  left: 25rem;
  // width: calc(100vw - 25rem);
  height: calc(100vh - 7.5rem);
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    darken(#efefef, 20%),
    0.5rem
  );
  overflow-y: scroll;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, left, margin-right;
  &.expand {
    left: 0;
  }
}
