@import 'mixin';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-height: 80vh;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.controls {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 7rem);
  overflow-y: auto;
  padding: 0 1rem;
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    darken(#efefef, 20%),
    0.5rem
  );
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 15rem);
  }
  .controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 15rem);
  }
  .half-half-width {
    width: 30%;
  }
  button.add-btn {
    margin-left: 3rem;
    padding: 0;
    min-width: 12rem;
    max-width: 12rem;
    height: 4rem;
    color: #fff;
  }
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 0 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
.time-area {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: var($--table-border);
  .day-container {
    width: 100%;
    display: flex;
    .box {
      display: flex;
      flex-direction: column;
      border-right: var($--table-border);
      width: calc(100% / 7);
      align-items: center;
      &:last-child {
        border-right: 0;
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        font-size: 1.1rem;
        font-weight: bold;
      }
      .body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: 600;
        height: 4rem;
      }
      button.delete-btn {
        height: 3rem;
        width: 6rem;
        text-align: center;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-top: auto;
      }
    }
  }
  button.time-btn {
    width: 15rem;
    height: 4rem;
    margin-bottom: 3rem;
    color: #fff;
  }
}
