<div class="intro">
  <img src="./assets/svg/forgot.svg" alt="" />
</div>
<div class="form-wrapper">
  <form class="form" [formGroup]="forgotForm" (ngSubmit)="onForgot()">
    <input type="text" placeholder="Email Address" formControlName="email" />
    <div class="error-container" *ngIf="f.email.errors && f.email.touched">
      <div class="row" *ngIf="f.email.errors.required">Email required</div>
      <div class="row" *ngIf="f.email.errors.email">Email is incorrect</div>
    </div>
    <button type="submit" [disabled]="authFacade.isloading$ | async">
      Forgot Password
    </button>
    <div class="error">{{ authFacade.error$ | async }}</div>
    <div class="redirect">
      Already have an account?&nbsp;&nbsp;<a [routerLink]="['/login']"
        >Log in</a
      >
    </div>
    <div class="redirect">
      Don't have an account?&nbsp;&nbsp;<a [routerLink]="['/register']"
        >Register</a
      >
    </div>
  </form>
</div>
