<h1>Add New Type</h1>
<form
  [formGroup]="typeForm"
  class="form"
  (ngSubmit)="onType()"
  #formDirective="ngForm"
>
  <!-- <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Products</mat-label>
      <mat-select formControlName="products" multiple>
        <mat-option
          *ngFor="let product of productsFacade.products$ | async"
          [value]="'/api/products/' + product?.id"
        >
          {{ product.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="typeForm.controls.products.hasError('required')">
        Product is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->
  <div class="form-group">
    <mat-form-field class="half-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="typeForm.controls.title.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="typeForm.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetTypeForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="typesFacade.error$ | async">
    <mat-error>
      {{ typesFacade.error$ | async }}
    </mat-error>
  </div>
</form>
