@import 'mixin';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 40rem;
  max-height: 80vh;
}
.controls {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 7rem);
  overflow-y: auto;
  padding: 0 1rem;
  @include scrollBarColor(
    0.5rem,
    var($--primary-bg),
    darken(#efefef, 20%),
    0.5rem
  );
  .title {
    display: flex;
    margin: 1rem 0;
    min-height: 4rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4rem;
    border-top: var($--table-border);
    border-bottom: var($--table-border);
    &:first-child {
      margin-top: 0;
    }
  }
  .row {
    display: flex;
    min-height: 5rem;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    .chbox {
      text-transform: capitalize;
    }
  }
}
.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0 0 0;
  button {
    margin-left: 3rem;
    width: 12rem;
    height: 4rem;
  }
}
