<div class="controls">
  <app-expandble-group
    *ngFor="let parent of data.accessories"
    [items]="parent"
    [selected]="selected"
    (selectItem)="selectAccessory($event)"
  ></app-expandble-group>
</div>
<div class="form-group btns-group">
  <button mat-flat-button color="warn" type="button" (click)="close()">
    Cancel
  </button>
  <button mat-flat-button color="primary" type="button" (click)="done()">
    Save
  </button>
</div>
