<div class="filters">
  <a class="create" [routerLink]="['/home/preorders/create-preorder']">
    <mat-icon svgIcon="add"></mat-icon><span>Add Order For Later</span>
  </a>
  <!-- <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field> -->
</div>
<ng-container *ngIf="preorders && preorders.length">
  <div class="container">
    <div class="header">
      <div class="caption">Day</div>
      <div class="caption">From Date</div>
      <div class="caption">To Date</div>
      <div class="caption">Status</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let preorder of preorders">
        <div class="row">
          <div class="context">
            <div class="days">
              <div
                class="day"
                *ngFor="let p of preorder.preOrderAvailableTimes"
              >
                {{ p.day }}
              </div>
            </div>
          </div>
          <div class="context">{{ preorder.fromDate | date: 'medium' }}</div>
          <div class="context">{{ preorder.toDate | date: 'medium' }}</div>
          <div class="context">
            {{ preorder.Status ? 'Active' : 'deActive' }}
          </div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(preorder)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(preorder)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="preOrdersFacade.preordersTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
