<div class="filters">
  <a class="create" [routerLink]="['/home/accessories/create-accessory']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Accessory</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="accessories && accessories.length">
  <div class="container">
    <div class="header">
      <div class="caption">Accessory Name</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let accessory of accessories">
        <div class="row">
          <div class="context">{{ accessory.title | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(accessory.id)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(accessory, 'parent')"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <div class="expand">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onExpand(accessory)"
              >
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="details"
          *ngIf="uniqueKey[accessory.id] && accessory.childern?.length"
        >
          <div class="header">
            <div class="caption">Title</div>
            <div class="delete"></div>
            <div class="edit"></div>
          </div>
          <ng-container *ngFor="let child of accessory.childern">
            <div class="details__row">
              <div class="context">{{ child.title | truncate: 45 }}</div>
              <div class="delete">
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a heart icon"
                  (click)="onRemove(accessory.id, child.id)"
                >
                  <mat-icon svgIcon="delete_forever"></mat-icon>
                </button>
              </div>
              <div class="edit">
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a heart icon"
                  (click)="onEdit(child, 'child')"
                >
                  <mat-icon svgIcon="edit"></mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="accessoriesFacade.accessoriesTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
