<div class="filters">
  <a class="create" [routerLink]="['/home/taxes/create-tax']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Tax</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="taxes && taxes.length">
  <div class="container">
    <div class="header">
      <div class="caption">Title</div>
      <div class="caption">Description</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let tax of taxes">
        <div class="row">
          <div class="context">{{ tax.name | truncate: 45 }}</div>
          <div class="context">{{ tax.description | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(tax)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(tax)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <!-- <div class="expand">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onExpand(tax)"
            >
              <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
            </button>
          </div> -->
          </div>
        </div>
        <!-- <div class="details" *ngIf="uniqueKey[tax.id] && tax.child">
          <div class="header">
            <div class="caption">ID</div>
            <div class="caption">Title</div>
          </div>
          <ng-container *ngFor="let child of tax.child">
            <div class="details__row">
              <div class="context">{{ child.id }}</div>
              <div class="context">{{ child.title }}</div>
            </div>
          </ng-container>
        </div> -->
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="taxesFacade.taxesTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
