<div class="filters">
  <a class="create" [routerLink]="['/home/pickups/create-pickup']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New pickup</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="pickups && pickups.length">
  <div class="container">
    <div class="header">
      <!-- <div class="caption">Days</div> -->
      <div class="caption">Waiting Time</div>
      <div class="caption">Status</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let pickup of pickups">
        <div class="row">
          <!-- <div class="context">
            <div class="days">
              <div class="day" *ngFor="let p of pickup.availableTimes">
                {{ p.day }}
              </div>
            </div>
          </div> -->
          <div class="context">{{ pickup.time }} Minutes</div>
          <div class="context">{{ pickup.status ? 'Active' : 'deActive' }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(pickup)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(pickup)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <div class="expand">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onExpand(pickup)"
              >
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="details"
          *ngIf="uniqueKey[pickup.id] && pickup.availableTimes.length"
        >
          <ng-container *ngFor="let child of pickup.availableTimes">
            <div class="details__row">
              <div class="context">
                <span>
                  {{ child.day }}
                </span>
                <ng-container *ngFor="let time of child.times">
                  <span class="time">
                    {{ time.open.date | date: 'h:mm' }} -
                    {{ time.close.date | date: 'h:mm' }} -
                    {{ time.maxCustomer }}
                  </span>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="pickupsFacade.pickupsTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
