@import 'mixin';
@import 'variables';

:host {
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028), 0 2.8px 10px rgba(0, 0, 0, 0.035),
    0 4.9px 17.9px rgba(0, 0, 0, 0.042), 0 9.2px 33.4px rgba(0, 0, 0, 0.05),
    0 22px 80px rgba(0, 0, 0, 0.07);
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a.create {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: var($--secondary-font);
    height: 5rem;
    span {
      display: flex;
      height: 2.4rem;
      align-items: center;
      transition: all 0.3s linear;
    }
    mat-icon.mat-icon {
      transition: all 0.3s linear;
    }
    &:hover span {
      color: var($--hover-color);
    }
    &:hover mat-icon.mat-icon {
      color: var($--hover-color);
    }
    &.active span {
      color: var($--hover-color);
    }
    &.active mat-icon.mat-icon {
      color: var($--hover-color);
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  overflow-x: auto;
  @include xScrollBarColor(
    1rem,
    var($--secondary-bg),
    darken(#efefef, 20%),
    1rem
  );
}
.header {
  display: inline-flex;
  height: 5rem;
  border-bottom: var($--table-border);
  min-width: fit-content;
  width: 100%;
  .caption {
    height: 5rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
    min-width: 20rem;
    max-width: 20rem;
    color: var($--secondary-font);
  }
  .actions {
    display: flex;
    margin-left: auto;
    min-width: 10rem;
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var($--secondary-font);
  }
}
.body {
  display: inline-flex;
  flex-direction: column;
  min-width: fit-content;
  width: 100%;
  .row {
    display: flex;
    min-height: 5rem;
    border-bottom: var($--table-border);
    width: 100%;
    .context {
      word-break: break-all;
      display: flex;
      align-items: center;
      min-height: 5rem;
      min-width: 20rem;
      max-width: 20rem;
      color: var($--primary-font);
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: capitalize;
      .days {
        display: flex;
        flex-direction: column;
        width: 100%;
        .day {
          display: flex;
          height: 2.5rem;
          align-items: center;
        }
      }
    }
    .actions {
      display: flex;
      margin-left: auto;
    }
    .delete,
    .edit,
    .expand {
      min-width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .expand {
      mat-icon.mat-icon {
        font-size: 32px;
        height: 32px;
        width: 32px;
      }
    }
  }
  .details {
    display: flex;
    border-left: var($--table-border);
    margin-left: 10rem;
    padding-left: 5rem;
    border-bottom: var($--table-border);
    .details__row {
      display: flex;
      min-height: 5rem;
      .context {
        word-break: break-all;
        display: flex;
        flex-direction: column;
        min-height: 5rem;
        min-width: 12rem;
        max-width: 12rem;
        color: var($--primary-font);
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
        span {
          height: 2.5rem;
          display: flex;
          align-items: center;
        }
      }
      .delete,
      .edit,
      .expand {
        min-width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: var($--table-border);
      }
      .expand {
        mat-icon.mat-icon {
          font-size: 32px;
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}
.footer {
  margin-top: 3rem;
}
