<div class="filters">
  <a class="create" [routerLink]="['/home/menus/create-menu']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New menu</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="menus && menus.length">
  <div class="container">
    <div class="header">
      <div class="caption">Menu Name</div>
      <div class="caption">Menu Description</div>
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let menu of menus">
        <div class="row">
          <div class="context">{{ menu.title | truncate: 45 }}</div>
          <div class="context">{{ menu.description | truncate: 45 }}</div>
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(menu)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(menu)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <div class="expand">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onExpand(menu)"
              >
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="details" *ngIf="uniqueKey[menu.id] && menu.productHasMenu">
          <div class="header">
            <div class="caption">Product Name</div>
            <div class="caption">Price</div>
          </div>
          <ng-container *ngFor="let child of menu.productHasMenu">
            <div class="details__row">
              <div class="context">
                {{ child.product.title | truncate: 45 }}
              </div>
              <div class="context">{{ child.price | truncate: 45 }}</div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="menusFacade.menusTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
