<div class="filters">
  <a class="create" [routerLink]="['/home/discounts/create-discount']">
    <mat-icon svgIcon="add"></mat-icon><span>Add New Discount</span>
  </a>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      (input)="search($event.target.value)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="discounts && discounts.length">
  <div class="container">
    <div class="header">
      <div class="caption">Name</div>
      <div class="caption">Description</div>
      <!-- <div class="caption">Exclusive</div> -->
      <div class="caption">From Date</div>
      <div class="caption">To Date</div>
      <!-- <div class="caption">Type</div>
      <div class="caption">Amount</div> -->
      <div class="actions">Actions</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let discount of discounts">
        <div class="row">
          <div class="context">{{ discount.name | truncate: 45 }}</div>
          <div class="context">{{ discount.description | truncate: 45 }}</div>
          <!-- <div class="context">{{ discount.isExclusive }}</div> -->
          <div class="context">{{ discount.fromDate | date: 'medium' }}</div>
          <div class="context">{{ discount.toDate | date: 'medium' }}</div>
          <!-- <div class="context">{{ discount.type }}</div>
          <div class="context">{{ discount.amount }}</div> -->
          <div class="actions">
            <div class="delete">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onRemove(discount)"
              >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
            <div class="edit">
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a heart icon"
                (click)="onEdit(discount)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
            </div>
            <!-- <div class="expand">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a heart icon"
              (click)="onExpand(discount)"
            >
              <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
            </button>
          </div> -->
          </div>
        </div>
        <!-- <div class="details" *ngIf="uniqueKey[discount.id] && discount.child">
          <div class="header">
            <div class="caption">ID</div>
            <div class="caption">Title</div>
          </div>
          <ng-container *ngFor="let child of discount.child">
            <div class="details__row">
              <div class="context">{{ child.id }}</div>
              <div class="context">{{ child.title }}</div>
            </div>
          </ng-container>
        </div> -->
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="discountsFacade.discountsTotalLength$ | async"
      hidePageSize
      [pageSize]="15"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
