<h1>Add New Accessory</h1>
<form
  [formGroup]="accessoryForm"
  class="form"
  (ngSubmit)="onAccessory()"
  #formDirective="ngForm"
>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Accessory Name</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="accessoryForm.controls.title.hasError('required')">
        Accessory Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>SubAccessory</mat-label>
      <mat-select formControlName="parent">
        <mat-option (click)="accessoryForm.controls.parent.reset()"
          >None</mat-option
        >
        <mat-option
          *ngFor="let acessory of accessoriesFacade.accessories$ | async"
          [value]="'/api/accessories/' + acessory?.id"
        >
          {{ acessory?.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="accessoryForm.controls.parent.hasError('required')">
        Accessory is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="half-half-width">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />
      <mat-error *ngIf="accessoryForm.controls.price.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-half-width">
      <mat-label>Free</mat-label>
      <input matInput formControlName="free" type="number" />
      <mat-error *ngIf="accessoryForm.controls.free.hasError('required')">
        Free is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-half-width">
      <mat-label>Min</mat-label>
      <input matInput formControlName="min" type="number" />
      <mat-error *ngIf="accessoryForm.controls.min.hasError('required')">
        Min is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-half-width">
      <mat-label>Max</mat-label>
      <input matInput formControlName="max" type="number" />
      <mat-error *ngIf="accessoryForm.controls.max.hasError('required')">
        Max is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group btns-group">
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="resetAccessoryForm()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
  <div class="error" *ngIf="accessoriesFacade.error$ | async">
    <mat-error>
      {{ accessoriesFacade.error$ | async }}
    </mat-error>
  </div>
</form>
